<% title_tag "#{@user.name} - #{t(".Notes")}" %>

<div class="flex-wrap">
  <div class="aside-wrap">
    <%= render "/users/sidebar" %>
  </div>
  <div class="main-wrap">
    <div class="main-content">
      <div class="user-notes">
        <h1 class="title"><%= t(".Notes") %></h1>
        <% if @notes.blank? %>
        <div class="blankslate">
          <p><%= t(".No notes") %></p>
        </div>
        <% else %>
        <ul class="cards-container recent-notes">
          <% @notes.each do |note| %>
            <li class="card recent-note-item mb-2">
              <div class="title">
                <%= note_title_tag(note) %>

                <% if note.private? %>
                <label class="label label-private"><%= t(".Private") %></label>
                <% end %>
              </div>
              <% if note.description.present? %>
              <div class="description">
                <%= note.description %>
              </div>
              <% end %>
              <div class="info">
                <%= timeago note.body_updated_at %>
              </div>
              <div class="action action-icon">
                <% if can? :update, note %>
                  <%= link_to icon_tag("edit"), note.to_path("/edit"), class: "btn-edit" %>
                <% end %>
                <% if can? :delete, note %>
                  <%= link_to icon_tag("trash"), note.to_path, class: "btn-delete", data: { method: :delete, confirm: t(".Are you sure delete?") }  %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <%= paginate @notes %>
    </div>
  </div>
</div>