<% if notification.target_type == "Comment" %>
  <p><strong><%= notification.actor_name %></strong> <%= t(".mentioned you") %>:</p>
  <%= sanitize_html notification.target.body_html %>
<% elsif notification.target_type == "Doc" %>
  <p><strong><%= notification.actor_name %></strong> <%= t(".has mentioned you in subject", subject: notification.target.title) %></p>
<% end %>