<% if doc %>
  <div class="doc-item list-item list-avatar" id="doc-<%= doc.id %>">
    <div class="avatar-box icon-box icon-doc">
      <%= icon_tag("avatar-doc") %>
    </div>
    <div class="title">
      <%= doc_title_tag(doc) %>
      <% if doc.share %>
        <span class="doc-icon-share tooltipped tooltipped-ne" aria-label="<%= t(".Sharing") %>"><i class="fas fa-share"></i></span>
      <% end %>
    </div>
    <span class="time-box tooltipped tooltipped-ne" aria-label="<%= t(".Last updated at") %>"><i class="fas fa-clock"></i> <%= timeago doc.body_updated_at %></span>
    <div class="path">
      <% if @repository && doc.repository_id != @repository.id %>
      <%= user_name_tag(doc.repository&.user) %> / 
      <%= repository_name_tag(doc.repository) %>
      <% end %>
      <%= user_name_tag(doc.last_editor) %>
    </div>
    <div class="action text-gray">
      <%= link_to icon_tag("edit"), doc.to_path("/edit") %>
      <% if can? :destroy, doc %>
        <%= link_to icon_tag("trash"), doc.to_path, data: { method: :delete, remote: true, confirm: t(".Are you sure delete this Doc?") }, class: "btn-link btn-remove-doc" %>
      <% end %>
    </div>
  </div>
<% end %>
