<% content_for :subnav do %>
<div class="pagehead repohead experiment-repo-nav">
  <div class="container-lg repohead-details-container px-3 clearfix">
    <div class="repo-heading clearfix">
      <div class="row clearfix">
        <ul class="pagehead-actions">
          <li>
            <div class="clearfix">
              <%= action_button_tag(@repository, :watch, icon: "eye", with_count: true) %>
            </div>
          </li>
          <li>
            <div class="clearfix">
              <%= action_button_tag(@repository, :star, with_count: true) %>
            </div>
          </li>
          <% if can? :create_doc, @repository %>
          <li>
            <div class="clearfix">
            <%= link_to icon_tag("create", label: "New Doc"), new_user_repository_doc_path(@user, @repository), class: "btn btn-sm btn-create-doc btn-primary", data: { turbolinks: false } %>
            </div>
          </li>
          <% end %>
        </ul>
        <h1>
          <%= icon_tag("repository") %>
          <span class="author url fn ml-2"><%= group_name_tag @user %></span>
          <span class="path-divider">/</span>
          <strong>
            <%= repository_name_tag @repository %>
            <% if @repository.private? %>
              <span class="label-private ml-2">Private</span>
            <% end %>
          </strong>
        </h1>
      </div>
      <% if @repository.source? && @repository.source.provider == "gitbook" %>
      <div class="source mt-2 mb-2 text-gray">
        <%= icon_tag("code-fork") %> <span class="source-url" title="Import from this URL"><%= @repository.source_url %></span>
      </div>
      <% end %>
    </div>
  </div>

  <div class="container-lg px-3">
    <nav class="reponav clearfix" role="navigation">
      <%= render_list_items(type: :link, class: "reponav-item", active_class: "selected") do |item|
        item << link_to(icon_tag("toc", label: "Summary"), @repository.to_path, class: "reponav-item")
        item << link_to(icon_tag("docs", label: "Docs"), docs_user_repository_path(@user, @repository), class: "reponav-item reponav-item-docs") if @repository.has_toc? if action_name != "search"
        item << link_to(icon_tag("docs", label: "Docs"), search_user_repository_path(@user, @repository), class: "reponav-item reponav-item-docs") if @repository.has_toc? if action_name == "search"
        item << link_to(icon_tag("gear", label: "Settings"), user_repository_settings_path(@user, @repository), class: "reponav-item", "data-controller" => :repository_settings) if can? :update, @repository
      end %>
    </nav>
  </div>
</div>
<% end %>

<% content_for :nav_search do %>
<%= render partial: "/layouts/search_nav", locals: { props: { action: @repository.to_path("/docs/search"), scope: @repository.name, value: params[:q] } } %>
<% end %>
