<li class="list-item list-avatar repository-item">
  <div class="avatar-box icon-box icon-repo">
    <%= icon_tag("avatar-repo") %>
  </div>
  <% if local_assigns[:no_path] %>
    <div class="title text-overflow">
      <%= repository_name_tag(repository) %>
      <% if repository.private? %>
        <span class="label label-private icon-middle-wrap ml-2"><%= icon_tag("lock") %><%= t(".Private") %></span>
      <% end %>
    </div>
  <% else %>
    <div class="title text-overflow path">
      <%= user_name_tag(repository.user, with_icon: true) %> / 
      <%= repository_name_tag(repository, with_icon: true) %>
      <% if repository.private? %>
        <span class="label label-private icon-middle-wrap ml-2"><%= icon_tag("lock") %><%= t(".Private") %></span>
      <% end %>
    </div>
  <% end %>
  <div class="description text-overflow">
    <%= truncate repository.description, length: 150 %>
  </div>
  <div class="info">
    <span class="stars">
      <%= icon_tag("star-fill") %> <span><%= repository.stars_count %></span>
    </span>
    <span class="watches">
      <%= icon_tag("watches") %> <span><%= repository.watches_count %></span>
    </span>
  </div>
  <div class="time-box">
    <%= timeago repository.updated_at %>
  </div>
</li>