<% title_tag t(".Docs"), @repository.name %>

<%= render "menu" %>

<div class="repository-docs">
  <div class="subnav">
    <div class="float-right subnav-sorting">
      <span class="text-gray mr-2"><%= t(".Sort by") %></span>
      <%= link_to(t(".Sort by Updated"),"?sort=recent", class: "btn-link #{'selected' if params[:sort] != 'created'}") %>
      <span class="divider">/</span>
      <%= link_to(t(".Sort by Created"), "?sort=created", class: "btn-link #{'selected' if params[:sort] == 'created'}") %>
    </div>
  </div>
  <% if @docs.blank? %>
    <%= render "empty_docs" %>
  <% else %>
    <div class="docs">
      <%= render partial: "doc", collection: @docs %>
    </div>
    <%= paginate @docs %>
  <% end %>
</div>
