<% title_tag "Docs", @repository.name %>

<%= render "menu" %>

<div class="repository-docs">
  <% if @docs.blank? %>
    <%= render "empty_docs" %>
  <% else %>
    <ul class="list-group">
    <% @docs.each do |doc| %>
      <li id="doc-<%= doc.id %>" class="list-group-item align-middle">
        <div class="title text-gray-dark"><%= link_to doc.title, doc.to_path, class: "text-inherit" %></div>
        <div class="d-table col-12">
          <div class="col d-table-cell">
            <div class="text-gray"><%= doc.slug %></div>
          </div>
          <div class="col-2 d-table-cell text-gray align-middle"><%= user_name_tag doc.last_editor %></div>
          <div class="col-2 d-table-cell text-gray align-middle"><%= timeago doc.body_updated_at %></div>
          <div class="col-1 d-table-cell align-right align-middle">
            <% if can? :destroy, doc %>
              <%= link_to icon_tag("trash-alt"), doc.to_path, data: { method: :delete, remote: true, confirm: "Are you sure delete this Doc?" }, class: "btn btn-sm btn-remove-doc" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
    </ul>
    <%= paginate @docs %>
  <% end %>
</div>
