<% title_tag "New Repository" %>

<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="sub-title">
      <div class="heading">New Repository</div>
      <div class="description">A repository contains all the documents for your project.</div>
    </div>

    <%= form_with(model: [@user, @repository], local: true) do |form| %>
      <%= render "/shared/error_messages", target: @repository %>

      <% if action_name == "import" %>
      <div class="import-box markdown-body clearfix">
        <% if params[:provider] == "gitbook" %>
          <div class="form-group">
            <label class="control-label">Import from Git</label>
            <%= form.text_field :gitbook_url, class: "form-control", placeholder: "https://github.com/somewhere/gitbook.git" %>
            <div class="form-text">
              <p>Put a Git repository URL, BookLab will import all of the <code>.md, .markdown</code> files as a Doc.</p>
              <p>This feature is best compatible with <a href="https://gitbook.io">GitBook</a> format (including a <code>SUMMARY.md</code> to describe of the Table of Contents).</p>
            </div>
          </div>
        <% else %>
          <div class="form-group">
            <label class="control-label">Import from Archive</label>
            <%= form.file_field :import_archive, direct_upload: true, class: "form-control", accept: "application/zip" %>
            <div class="form-text">
              <p>You can archive multiple <code>.md, .markdown</code> files as a zip file, and then choice the zip file for import.</p>
              <p>Or you have a GitBook source, you can use <%= link_to "Import from GitBook", import_repository_path(provider: :gitbook) %>.
            </div>
          </div>
        <% end %>
      </div>
      <% end %>

      <div class="clearfix">
        <div class="form-group float-left">
          <%= form.label :user_id, class: "control-label" %>
          <%= render partial: "/shared/user_groups_select_menu", locals: { input_name: "repository[user_id]", value: @repository.user_id } %>
        </div>
        <div class="form-group float-left">
          <span class="pl-1"></span>
        </div>
        <div class="form-group float-left">
          <%= form.label :slug, class: "control-label" %>
          <%= form.text_field :slug, class: "form-control" %>
        </div>
      </div>
      <div class="form-text">
        Great repository names are short and memorable.
      </div>

      <div class="form-group">
        <%= form.label :name, class: "control-label" %>
        <%= form.text_field :name, class: "form-control", style: "width: 250px" %>
      </div>

      <div class="form-group">
        <%= form.label :privacy, class: "control-label" %>

        <div class="form-checkbox">
          <label>
            <input type="radio" name="repository[privacy]" checked value="public"> Public
            <div class="form-text">
              Anyone can see this repository.
            </div>
          </label>
        </div>
        <div class="form-checkbox">
          <label>
            <input type="radio" name="repository[privacy]" value="private"> Private
            <div class="form-text">
              You choose who can see and edit to this repository.
            </div>
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= form.label :description, class: "control-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
