<% title_tag @repository.name %>

<%= render "menu" %>

<div class="mb-4">
</div>

<%
toc_html = @repository.toc_html(prefix: @repository.to_path("/"))
%>

<% if toc_html.blank? %>
  <%= render "empty_docs" %>
<% else %>
  <div class="repo-toc">
    <div class="toc-header">
      <% if can? :create_doc, @repository %>
        <%= link_to icon_tag("edit", label: "Edit"), toc_user_repository_path(@user, @repository), class: "float-right edit-link" %>
      <% end %>
      <div class="title"><%= @repository.name %></div>
      <div class="description"><%= @repository.description %></div>
    </div>
    <div class="toc-list">
      <%= sanitize_html toc_html %>
    </div>
  </div>
<% end %>
