<% title_tag @repository.name %>

<%= render "menu" %>

<%
toc_html = @repository.toc_html(prefix: @repository.to_path("/"))
%>

<%= render "import_status" %>

<div class="repo-desc text-center">
  <div class="text-gray mb-2"><%= @repository.description %></div>

  <% if @repository.source? && @repository.source.provider == "gitbook" %>
  <div class="source text-gray">
    <%= icon_tag("code-fork") %> <span class="source-url"><%= @repository.source_url %></span>
  </div>
  <% end %>
</div>

<div class="repo-toc">
  <div class="toc-header">
    <% if can? :create_doc, @repository %>
      <%= link_to icon_tag("edit", label: t(".Edit TOC")), toc_user_repository_path(@user, @repository), class: "edit-link" %>
    <% end %>
  </div>
  <% if @repository.toc_json.blank? || @repository.toc_json == "[]" %>
    <%= render "empty_docs" %>
  <% else %>
  <div class="toc-list">
    <%= react_component("toc/index", { items: @repository.toc_json, withSlug: true, prefix: @repository.to_path("/") } ) %>
  </div>
  <% end %>
</div>

