<% title_tag @repository.name %>

<%= render "menu" %>

<%
toc_html = @repository.toc_html(prefix: @repository.to_path("/"))
%>

<%= render "import_status" %>

<% if toc_html.blank? %>
  <%= render "empty_docs" %>
<% else %>
  <div class="repo-toc">
    <div class="toc-header">
      <% if can? :create_doc, @repository %>
        <%= link_to icon_tag("edit", label: t(".Edit TOC")), toc_user_repository_path(@user, @repository), class: "edit-link" %>
      <% end %>
    </div>
    <div class="toc-list">
      <%= react_component("toc/index", { items: @repository.toc_json, withSlug: true, prefix: @repository.to_path("/") } ) %>
    </div>
  </div>
<% end %>
