<% title_tag @repository.name, t(".Edit TOC") %>

<%= form_with(model: @repository, url: toc_user_repository_path(@user, @repository), class: "toc-form", local: true, remote: true) do |form| %>
  <div class="toc-navbar">
    <div class="navbar-title">
      <a class="navbar-brand" href="/"><%= icon_tag("bluedoc") %></a>
      <%= group_name_tag @user %>
      <span class= "divider">/</span>
      <%= repository_name_tag @repository %>
      <span class= "divider">/</span>
      <%= t(".Edit Table of contents") %>
    </div>
    <div class="navbar-buttons">
      <button type="submit" class="btn btn-primary"><%= t(".Save") %></button>
      <a href="<%= @repository.to_path %>" type="submit" class="btn"><%= t(".Cancel") %></a>
      <div class="dropdown toc-keyboard-tip d-inline-block py-3">
        <div class="btn"><i class="fas fa-keyboard"></i></div>
        <div class="dropdown-menu dropdown-menu-sw py-3 px-4" style="width: 420px">
          <table style="width: 100%">
            <tr>
              <td><code>▲</code></td>
              <td><%= t(".Move cursor Up") %></td>
            </tr>
            <tr>
              <td><code>▼</code></td>
              <td><%= t(".Move cursor Down") %></td>
            </tr>
            <tr>
              <td><code><%= t(".Enter") %></code></td>
              <td><%= t(".Edit or Confirm edit") %></td>
            </tr>
            <tr>
              <td><code><%= t(".Tab") %></code></td>
              <td><%= t(".Indent") %></td>
            </tr>
            <tr>
              <td><code><%= t(".Shift") %></code> + <code><%= t(".Tab") %></code></td>
              <td><%= t(".Outdent") %></td>
            </tr>
            <tr>
              <td><code>⌘</code> + <code>▶︎</code></td>
              <td><%= t(".Indent") %></td>
            </tr>
            <tr>
              <td><code>⌘</code> + <code>◀︎</code></td>
              <td><%= t(".Outdent") %></td>
            </tr>
            <tr>
              <td><code>⌘</code> + <code>▲</code></td>
              <td><%= t(".Move Up") %></td>
            </tr>
            <tr>
              <td><code>⌘</code> + <code>▼</code></td>
              <td><%= t(".Move Down") %></td>
            </tr>
            <tr>
              <td><code><%= t(".Delete") %></code> <%= t(".or") %> <code>⌘</code> + <code>⌫</code></td>
              <td><%= t(".Remove item") %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%= render "/shared/error_messages", target: @repository %>

  <input type="hidden" name="_by" value="toc">
  <textarea style="display: none" id="repository_toc_by_docs"><%= @repository.toc_by_docs_json %></textarea>
  <%= form.text_area :toc, value: @repository.toc_json, class: "form-control", style: "min-height: 400px; display: none;" %>
<% end %>
