<% title_tag @repository.name, "Edit TOC" %>

<%= form_with(model: @repository, url: toc_user_repository_path(@user, @repository), class: "toc-form", local: true, remote: true) do |form| %>
  <div class="toc-navbar">
    <div class="navbar-title">
      <a class="navbar-brand" href="<%= @repository.to_path %>" title="Back to list"><%= icon_tag("repositories") %></a>
      <span class="divide">/</span>
      <%= group_name_tag @user %>
      <span class="divide">/</span>
      <%= repository_name_tag @repository %>
      <span class="divide">/</span>
      Edit Table of contents
    </div>
    <div class="navbar-buttons">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="<%= @repository.to_path %>" type="submit" class="btn">Cancel</a>
    </div>
  </div>

  <%= render "/shared/error_messages", target: @repository %>

  <input type="hidden" name="_by" value="toc">
  <textarea style="display: none" id="repository_toc_by_docs"><%= @repository.toc_by_docs_json %></textarea>
  <%= form.text_area :toc, value: @repository.toc_json, class: "form-control", style: "min-height: 400px; display: none;" %>
<% end %>
