<% title_tag @repository.name, "Edit TOC" %>

<%= form_with(model: @repository, url: toc_user_repository_path(@user, @repository), class: "toc-form", local: true, remote: true) do |form| %>
  <div class="toc-navbar">
    <div class="navbar-title">
      <a class="navbar-brand" href="<%= @repository.to_path %>" title="Back to list"><%= icon_tag("repositories") %></a>
      <span class= "divider">/</span>
      <%= group_name_tag @user %>
      <span class= "divider">/</span>
      <%= repository_name_tag @repository %>
      <span class= "divider">/</span>
      Edit Table of contents
    </div>
    <div class="navbar-buttons">
      <details class="dropdown toc-keyboard-tip details-reset details-overlay d-inline-block">
        <summary class="btn"><i class="fas fa-keyboard"></i></summary>
        <div class="dropdown-menu dropdown-menu-sw py-3 px-4" style="width: 420px">
          <table style="width: 100%">
            <tr>
              <td><code>▲</code></td>
              <td>Move cursor up</td>
            </tr>
            <tr>
              <td><code>▼</code></td>
              <td>Move cursor down</td>
            </tr>
            <tr>
              <td><code>Tab</code></td>
              <td>Indent</td>
            </tr>
            <tr>
              <td><code>Shift</code><i class="fas fa-plus"></i><code>Tab</code></td>
              <td>Outdent</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>▶︎</code></td>
              <td>Indent</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>◀︎</code></td>
              <td>Outdent</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>▲</code></td>
              <td>Move up</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>▼</code></td>
              <td>Move down</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>⌫</code></td>
              <td>Remove item</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>z</code></td>
              <td>Undo</td>
            </tr>
            <tr>
              <td><code>⌘</code><i class="fas fa-plus"></i><code>Shift</code><i class="fas fa-plus"></i><code>Z</code></td>
              <td>Redo</td>
            </tr>
          </table>
        </div>
      </details>
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="<%= @repository.to_path %>" type="submit" class="btn">Cancel</a>
    </div>
  </div>

  <%= render "/shared/error_messages", target: @repository %>

  <input type="hidden" name="_by" value="toc">
  <textarea style="display: none" id="repository_toc_by_docs"><%= @repository.toc_by_docs_json %></textarea>
  <%= form.text_area :toc, value: @repository.toc_json, class: "form-control", style: "min-height: 400px; display: none;" %>
<% end %>
