<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="sub-title">
      <div class="heading">Sign up</div>
      <div class="description">Welcome to use BookLab</div>
    </div>
    <%
    auth_info = session[:omniauth].dig("info")
    if auth_info
      resource.email ||= auth_info.dig("email")
      resource.name ||= auth_info.dig("name")
      resource.slug ||= auth_info.dig("login") || BookLab::Slug.slugize(auth_info.dig("name"))
      resource.omniauth_provider ||= session[:omniauth].dig("provider")
      resource.omniauth_uid = session[:omniauth].dig("uid")
    end
    %>

    <% if auth_info %>
    <div class="flash flash-warn">
      <strong>Complete your account info</strong>
      <p>You must complete the below form to bind with <b><%= session[:omniauth]["provider"].humanize %></b> login</p>
    </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "/shared/error_messages", target: resource %>

      <% if auth_info %>
        <%= f.hidden_field :omniauth_provider %>
        <%= f.hidden_field :omniauth_uid %>
        <%= f.hidden_field :name %>
      <% end %>

      <div class="form-group">
        <%= f.label :slug %>
        <%= f.text_field :slug, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary" %>

        <%= link_to "Sign in", new_session_path(resource_name), class: "btn"  %>
      </div>
    <% end %>
  </div>
</div>


