
<%= form_for([:admin,@repository], url: admin_repository_path(@repository.id)) do |f| %>
  <%= render "/shared/error_messages", target: @repository  %>

  <div class="form-group">
    <%= f.label :slug, class: "control-label" %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-action">
    <%= f.submit t("admin.Save"), class: "btn btn-primary mr-1" %> <%= link_to t("admin.Cancel"), admin_repositories_path %>
  </div>
<% end %>
