<%= render 'base' %>

<div class="subnav">
  <nav class="subnav-links">
    <a href="<%= admin_repositories_path %>" class="subnav-item"><%= t("admin.All") %></a>
  </nav>
  <div class="subnav-search float-left">
    <form action="" method="GET">
      <input type="search" name="q" class="form-control subnav-search-input" value="<%= params[:q] %>">
      <%= icon_tag "search", class: "subnav-search-icon" %>
    </form>
  </div>
</div>

<div class="admin-admin_repositories">
  <table class="table table-striped">
    <tr class="head">
      <td>Id</td>
      <td><%= t("activerecord.attributes.repository.name") %></td>
      <td><%= t("created_at") %></td>
      <td class="opts"></td>
    </tr>
    <% @repositories.each do |item| %>
    <tr class="<%= cycle("","even") %> <%= "deleted" if item.deleted? %>">
      <td><%= link_to item.id, admin_repository_path(item.id) %></td>
      <td>
        <div><%= link_to item.name, admin_repository_path(item.id) %></div>
        <div class="mt-1 text-gray">
          <% if item.user %>
            <%= link_to item.user&.slug, admin_repositories_path(user_id: item.user_id), class: "link-gray" %> /
          <% end %>
          <%= item.slug %>
        </div>
      </td>
      <td style="width: 200px;" class="text-gray"><%= l(item.created_at) %></td>
      <td class="opts">
        <%= link_to icon_tag("list-alt"), admin_docs_path(repository_id: item.id), title: "All docs" %>
        <%= link_to icon_tag("pencil"), edit_admin_repository_path(item.id) %>
        <%= link_to icon_tag("trash"), admin_repository_path(item.id), method: :delete, 'data-confirm' => t("admin.Are you sure delete this item?") %>
        <!-- PRO-begin -->
        <% feature_for(:soft_delete) do %>
          <% if item.deleted? %>
            <%= link_to icon_tag("restore"), restore_admin_repository_path(item.id), method: :post, 'data-confirm' => t("admin.Are you sure restore this item?") %>
          <% end %>
        <% end %>
        <!--PRO-end -->
      </td>
    </tr>
    <% end %>
  </table>
  <%= paginate @repositories %>
</div>
