<%= form_for(comment, remote: true) do |f| %>
  <%= f.hidden_field :commentable_type %>
  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :parent_id %>

  <div class="avatar-box">
    <%= user_avatar_tag(current_user, style: :medium) %>
  </div>

  <div class="form-group">
    <%= react_component "InlineEditor", name: "comment[body_sml]", markdownName: "comment[body]", format: "sml", directUploadURL: rails_direct_uploads_url, blobURLTemplate: upload_path(":id") %>
  </div>

  <div class="form-actions clearfix">
    <%= f.submit t(".Submit"), class: 'btn btn-primary' %>
    <div class="in-reply-info">
    </div>
  </div>
<% end %>
