<%
  @doc = @share.shareable
  @user = @doc.repository&.user
  @repository = @doc.repository
%>

<% title_tag @doc.title %>

<div class="reader-navbar">
  <div class="navbar-title">
    <strong class="doc-name"><%= @doc.title %></strong>
  </div>

  <div class="navbar-buttons">
    <% if can? :update, @doc %>
      <%= link_to icon_tag("pencil"), edit_user_repository_doc_path(@user, @repository, @doc), class: "btn  btn-sm px-2 ml-1" %>
    <% end %>
  </div>
</div>


<div class="doc-page doc-share-page flex-wrap">

  <div class="doc-main main-content py-4">
    <h1 class="doc-title"><%= @doc.title %></h1>
    <div class="doc-info mt-3 py-2 border-top">
      <span class="editors">
        <% @doc.editors.each do |user| %>
          <%= user_avatar_tag(user, style: :tiny) %>
        <% end %>
      </span>

      <% if @doc.last_editor %>
      <%= t(".Last edit by") %> <%= user_name_tag(@doc.last_editor) %> <%= t(".Last edit by at") %> <%= timeago @doc.body_updated_at %>
      <% else %>
        <%= t(".Created by") %> <%= user_name_tag(@doc.creator) %> <%= t(".Created by at") %> <%= timeago @doc.created_at %>
      <% end %>
    </div>
    <div class="markdown-body markdown-with-toc" data-turbolinks="false">
      <%= raw @doc.body_html %>
    </div>
    <div class="doc-reaction mt-5">
      <%= render "/reactions/reactions", subject: @doc, reactions: @doc.reactions %>
    </div>

    <% if @comments %>
    <div class="doc-comments mt-3 clearfix">
      <%= render "/comments/comments", commentable: @doc, comments: @comments %>
    </div>
    <% end %>
  </div>
  <div class="doc-body-toc" data-turbolinks="false">
  </div>
</div>
