<% title_tag "Account Settings" %>

<div class="col-12 clearfix">
  <%= render "menu" %>

  <div class="col-6 float-left">
    <%= form_for(@user, url: account_settings_path, html: { method: :put }) do |f| %>
      <div class="form-title"><h2>Public profile</h2></div>
      <%= render "/shared/error_messages", target: @user %>

      <input type="hidden" name="_by" value="profile" />

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control", style: "width: 200px" %>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "control-label" %>
        <%= f.text_area :description, class: "form-control short", style: "width: 400px" %>
      </div>

      <div class="form-group">
        <%= f.label :location, class: "control-label" %>
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :url, class: "control-label" %>
        <%= f.url_field :url, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update profile", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="pl-4 col-3 float-left">
    <%= form_for(@user, url: account_settings_path, html: { method: :put }) do |f| %>
    <input type="hidden" name="_by" value="profile" />
    <div class="form-title"><h2>Avatar</h2></div>
    <div class="image-box width-full text-center">
      <%= user_avatar_tag(current_user, style: :large, link: false) %>
    </div>
    <div class="form-group">
      <label class="btn width-full text-center">
         Upload new picture
         <%= f.file_field :avatar, class: "btn js-manual-file-chooser manual-file-chooser width-full text-center"  %>
       </label>
    </div>
    <script>
      $("form").on("change", ".js-manual-file-chooser", (e) => {
        $form = $(e.delegateTarget);
        $form.submit();
      });
    </script>
    <% end %>
  </div>
</div>
