<% title_tag "Account Settings" %>
<div class="aside-wrap">
  <%= render "/users/sidebar" %>
</div>
<div class="main-wrap">
  <div class="main-content">
    <h1 class="title"><%= t(".Public Profile") %><h1>
    <h2 class="sub-title"><%= t(".Avatar") %></h2>
    <%= form_for(@user, url: account_settings_path, html: { method: :put }) do |f| %>
      <input type="hidden" name="_by" value="profile" />
      <div class="image-box width-full text-center">
        <%= user_avatar_tag(current_user, style: :large, link: false) %>
      </div>
      <div class="form-group">
        <label class="btn width-full text-center">
          <%= t(".Upload new picture") %>
          <%= f.file_field :avatar, class: "btn btn-block js-manual-file-chooser manual-file-chooser text-center"  %>
        </label>
      </div>
      <script type="text/javascript">
        $("form").on("change", ".js-manual-file-chooser", (e) => {
          $form = $(e.delegateTarget);
          $form.submit();
        });
      </script>
    <% end %>
    <h2 class="sub-title"><%= t(".Profile") %></h2>
    <%= form_for(@user, url: account_settings_path, html: { method: :put }) do |f| %>
      <%= render "/shared/error_messages", target: @user %>

      <input type="hidden" name="_by" value="profile" />

      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :description, class: "control-label" %>
        <%= f.text_area :description, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :location, class: "control-label" %>
        <%= f.text_field :location, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :url, class: "control-label" %>
        <%= f.url_field :url, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :locale, class: "control-label" %>
        <%= f.select :locale, Setting.locale_options,
          { include_blank: t(".System default", locale_name: Setting.default_locale_name) },
          { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= f.submit t(".Update profile"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
