<div class="list-item list-avatar">
  <div class="avatar-box">
    <%= user_avatar_tag(member.user, style: :medium) %>
  </div>
  <div class="title text-overflow"><%= link_to member.user.name, member.user.to_path %></div>
  <div class="description"><%= user_name_tag(member.user) %></div>
  <div class="time-box">
    <%= member.role_name %>
  </div>

  <div class="action action-icon">
    <% if can? :manage, @group %>
      <% if member.user_id != current_user.id %>
      <%= render "update_member", member: member %>
      <a class="hover-danger" href="<%= group_member_path(@group, member) %>" data-method="delete"><%= icon_tag("delete") %></a>
      <% end %>
    <% end %>
  </div>
</div>