<% title_tag t(".Members"), @group.name %>

<%= render "menu" %>

<div class="group-members">
  <div class="subhead">
    <div class="float-right">
      <%= render "add_member" %>
    </div>
    <h2><%= @members.total_count %> <%= t(".Number of Members") %></h2>
  </div>

  <div class="member-list">
    <%= render partial: "member", collection: @members %>
    <%= paginate @members %>
  </div>
</div>