<% title_tag t(".Members"), @group.name %>

<%= render "menu" %>

<div class="group-members">
  <h1 class="title mt-3">
    <%= @members.total_count %> <%= t(".Number of Members") %>
    <div class="float-right f6 mt-2">
      <%= render "add_member" %>
    </div>
  </div>

  <div class="member-list list-container list-col-2">
    <%= render partial: "member", collection: @members %>
    <%= paginate @members %>
  </div>
</div>