<% title_tag "Members", @group.name %>

<%= render "menu" %>

<div class="group-members">
  <div class="border-bottom pb-3 mb-3 clearfix">
    <div class="float-right">
      <%= render "add_member" %>
    </div>
    <h4><%= @members.total_count %> Members</h4>
  </div>

  <div class="member-list">
    <%= render partial: "member", collection: @members %>
    <%= paginate @members %>
  </div>
</div>
