<%
  member = notification.target
%>

<div class="info">
  <%= user_name_tag(notification.actor) %> <%= t(".has added you as a member of") %>
</div>
<span class="time">
  <%= l notification.created_at, format: :short %>
</span>

<div class="detail">
  <% if member.subject_type == "Repository" %>
    <%= render "/repositories/card", repository: member.subject %>
  <% else %>
    <%= render "/users/card", user: member.subject %>
  <% end %>
</div>