<%
mentionable = notification.target
%>

<% if mentionable %>
  <strong><%= notification.actor_name %></strong> <%= t(".was mentioned you in") %>
  <strong>
    <% if mentionable.is_a?(Comment) %>
      <%= mentionable.commentable_title %>
    <% elsif mentionable.is_a?(Doc) %>
      <%= mentionable.title %>
    <% end %>
  </strong>

  <% if mentionable.is_a?(Comment) %>
  <div class="description markdown-body">
    <%= sanitize_html mentionable.body_html %>
  </div>
  <% end %>
<% end %>