<%
mentionable = notification.target
%>

<% if mentionable %>
  <div class="info">
    <%= notification.actor_name %>
    <%= t(".was mentioned you in") %>
    <% if mentionable.is_a?(Comment) %>
      <%= mentionable.commentable_title %>
    <% elsif mentionable.is_a?(Doc) %>
      <%= mentionable.title %>
    <% end %>
  </div>
  <span class="time">
    <%= l notification.created_at, format: :short %>
  </span>
  <% if mentionable.is_a?(Comment) %>
  <div class="detail markdown-body">
    <%= sanitize_html mentionable.body_html %>
  </div>
  <% end %>
<% end %>