<div id="notification-<%= notification.id %>"
     data-id="<%= notification.id %>"
     class="activity-item notification notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">
  <div class="avatar-box">
    <%= user_avatar_tag notification.actor, style: :medium %>
  </div>
  <div class="infos">
    <%= render "/notifications/#{notification.notify_type}", notification: notification rescue t("notifications.Notification been deleted") %>
  </div>
</div>
