<%
  repo = notification.target
%>

<div class="info">
  <%= t(".Repository") %> <%= repository_name_tag(repo) %> <%= t(".import has been") %> <strong><%= notification.meta[:status] %></strong>
</div>
<span class="time">
  <%= l notification.created_at, format: :short %>
</span>
<% if notification.meta[:status].to_s == "failed" %>
  <div class="description markdown-body"><pre class="hightlight"><code><%= notification.meta[:message] %></code></pre></div>
<% else %>
  <div class="description">
    <%= render "/repositories/card", repository: repo %>
  </div>
<% end %>