<div class="aside-wrap">
  <div class="aside-content">
    <nav class="menu">
      <%= render_list_items(class: "menu-item", type: :link, check_parameters: true) do |li|
        li << link_to(main_app.notifications_path, class: "menu-item") do %>
          <%= t(".Unread") %> <span class="counter"><%= unread_notifications_count %></span>
        <% end
        li << link_to(t(".All"), main_app.notifications_path(tab: "all"), class: "menu-item")
      end %>
    </ul>
  </div>
</div>

<div class="main-wrap">
  <div class="main-content">

    <div class="notifications box">
      <div class="subhead clearfix">
        <span class="float-right">
          <% if params[:tab] == "all" %>
            <%= link_to t(".Clear all"), main_app.clean_notifications_path, class: 'btn btn-sm btn-danger', method: 'delete' %>
          <% else %>
            <%= form_with scope: :notification, url: main_app.read_notifications_path, method: :post do |form| %>
              <% @notifications.each do |note| %>
              <input type="hidden" name="ids[]" value="<%= note.id %>">
              <% end %>
              <button type="submit" class="btn btn-sm"><%= t(".Mark as read") %></button>
            <% end %>
          <% end %>
        </span>

        <h2>
          <% if params[:tab] == "all" %><%= t(".All") %><% else %><%= t(".Unread") %><% end %>
        </h2>
      </div>
      <div class="list">
        <% if @notifications.blank? %>
          <div class="blankslate">
            <% if params[:tab] == "all" %>
              <%= t(".You does not have any notifications") %>
            <% else %>
              <%= t(".You does not have any unread notifications") %>
            <% end %>
          </div>
        <% else %>
          <%= render @notifications %>
        <% end %>
      </div>
    </div>
    <%= paginate @notifications, params: { controller: "notifications", action: "index" } %>
  </div>
</div>

<script>
  $(".notifications").on("click", ".notification", function(e) {
    e.stopPropagation();
    $note = $(e.currentTarget);
    $note.removeClass("unread");
    Turbolinks.visit("/notifications/" + $note.attr('data-id'));
    return false;
  })
</script>