<% content_for :subnav do %>
<div class="group-heading">
  <div class="container">
    <div class="heading clearfix">
      <div class="group-avatar-box float-left pr-3 mb-3">
        <%= user_avatar_tag(@group, style: :large, link: false) %>
      </div>
      <div class="v-align-middle float-left">
        <div class="group-title d-block"><%= @group.name %></div>
        <div class="pt-2 text-gray-light">
          <%= @group.description %>
        </div>
        <div class="pt-2 text-gray-light">
          <% if @group.location.present? %>
          <span class="group-location mr-3 icon-middle-wrap"><%= icon_tag("location") %> <%= @group.location %></span>
          <% end %>
          <% if @group.url.present? %>
          <span class="group-url icon-middle-wrap"><%= link_to icon_tag("text-link", label: @group.url), @group.url %></span>
          <% end %>
        </div>
      </div>
    </div>
    <nav class="groupnav" role="navigation">
      <%= render_list_items(type: :link, class: "groupnav-item", active_class: "selected") do |item|
        item << link_to(t(".Repository"), @group.to_path, class: "groupnav-item")
        item << link_to(t(".Search"), search_group_path(@group), class: "groupnav-item") if current_page?(search_group_path(@group))
        item << link_to(t(".Member"), group_members_path(@group), class: "groupnav-item")
        item << link_to(t(".Settings"), group_settings_path(@group), class: "groupnav-item") if can? :update, @group
      end %>
    </nav>
  </div>
</div>
<% end %>


<% content_for :nav_search do %>
  <%= render partial: "/layouts/search_nav", locals: { props: { action: search_group_path(@group), scope: t(".Group"), value: params[:q] } } %>
<% end %>
