<% content_for :subnav do %>
<div class="group-heading">
  <div class="container clearfix">
    <div class="heading">
      <div class="clearfix">
        <div class="group-avatar-box float-left pr-3 v-align-middle">
          <%= user_avatar_tag(@group, style: :medium, link: false) %>
        </div>
        <div class="v-align-middle float-left">
          <div class="group-title d-block"><%= @group.name %></div>
          <div class="pt-2">
            <%= @group.description %>
          </div>
          <div class="pt-2">
            <% if @group.location.present? %>
            <span class="group-location mr-3"><%= icon_tag("location") %> <%= @group.location %></span>
            <% end %>

            <% if @group.url.present? %>
            <span class="group-url"><%= icon_tag("link") %> <%= link_to @group.url, @group.url %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-3">
    <nav class="reponav clearfix" role="navigation">
      <%= render_list_items(type: :link, class: "reponav-item", active_class: "selected") do |item|
        item << link_to(icon_tag("repositories", label: t(".Repository")), @group.to_path, class: "reponav-item")
        item << link_to(icon_tag("search", label: t(".Search")), search_group_path(@group), class: "reponav-item") if current_page?(search_group_path(@group))
        item << link_to(icon_tag("users", label: t(".Member")), group_members_path(@group), class: "reponav-item")
        item << link_to(icon_tag("gear", label: t(".Settings")), group_settings_path(@group), class: "reponav-item") if can? :update, @group
      end %>
    </nav>
  </div>
</div>
<% end %>

<% content_for :nav_search do %>
<form action="<%= search_group_path(@group) %>" class="subnav-search-context" method="GET">
  <div class="subnav-search">
    <input name="q" type="text" placeholder="<%= t(".Search in group", name: @group.name) %>" autocomplete="off" class="form-control form-search-control subnav-search-input" value="<%= params[:q] %>" />
    <%= icon_tag "search", :class => "subnav-search-icon" %>
  </div>
</form>
<% end %>