<% title_tag @group.name %>

<%= render "groups/menu" %>

<div class="repository-docs box">
  <div class="box-body">
    <div class="search-results">
      <% if @result.records.blank? %>
      <div class="blankslate">
        <%= t(".Can't find any Doc like")%> "<span class="text-red"><%= params[:q] %></span>" <%= t(".in this Group") %>
      </div>
      <% end %>

      <% @result.records.each_with_hit do |item, hit| %>
        <%= render "/searches/doc", item: item, hit: hit %>
      <% end %>
      <%= paginate @result %>
    </div>
  </div>
</div>
