<% title_tag @group.name %>

<%= render "groups/menu" %>

<div class="clearfix">
  <div class="border-bottom pb-3 px-1 mb-3">
    <form action="" class="subnav-search" method="GET">
      <input type="text" name="q" class="form-control subnav-search-input" value="<%= params[:q] %>" placeholder="Find a repository..." />
      <%= icon_tag "search", class: "subnav-search-icon" %>
      <% if params[:q].present? %>
        <a href="<%= @group.to_path %>" class="link-cancel ml-2">Show all</a>
      <% end %>
    </form>
  </div>

  <div class="group-repositories col-9 float-left pr-5">
    <% if @repositories.blank? %>
      <div class="blankslate">
        <h3>There is no repository</h3>
        <p>You can create first repository, <%= link_to "Create new", new_repository_path(user_id: @user.id) %>.</p>
      </div>
    <% else %>
      <%= render @repositories %>
      <%= paginate @repositories %>
    <% end %>
  </div>
  <div class="col-3 float-left">
    <div class="group-members Box">
      <div class="Box-body">
        <div class="sub-title">Members</div>
        <div class="list clearfix">
          <% @members.limit(30).each do |member| %>
            <div class="m-1 float-left"><%= user_avatar_tag(member.user) %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>