<% title_tag @group.name %>

<%= render "groups/menu" %>


<div class="clearfix">
  <h1 class="title">
    <%= t(".Repsitories") %>
    <form action="" class="subnav-search-context float-right" method="GET">
      <div class="subnav-search" >
        <input type="text" name="q" class="form-control subnav-search-input" value="<%= params[:q] %>" placeholder="<%= t(".Find a repository") %>" />
        <%= icon_tag "search", class: "subnav-search-icon" %>
        <% if params[:q].present? %>
          <a href="<%= @group.to_path %>" class="link-cancel"><%= icon_tag "cancel" %></a>
        <% end %>
      </div>
    </form>
  </h1>
  <div class="group-repositories col-12 col-md-9 float-left pr-md-5">
    <% if @repositories.blank? %>
      <div class="blankslate">
        <h3><%= t(".There is no repository") %></h3>
        <p><%= t(".You can create first repository") %> <%= link_to t(".Create new"), new_repository_path(user_id: @group.id) %>.</p>
      </div>
    <% else %>
      <%= render @repositories %>
      <%= paginate @repositories %>
    <% end %>
  </div>
  <div class="col-12 col-md-3 float-left hide-sm">
    <div class="group-members">
      <h3 class="sub-title"><%= t(".Members") %>(<%= @group.members_count %>)</h3>
      <div class="list clearfix">
        <% @members.limit(30).each do |member| %>
          <div class="mr-3 mb-3 float-left"><%= user_avatar_tag(member.user, style: :medium) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>