<% title_tag @group.name %>

<%= render "groups/menu" %>


<div class="clearfix">
  <h1 class="title mt-3">
    <%= t(".Repositories") %>
    <form action="" class="subnav-search-context float-right" method="GET">
      <div class="subnav-search" >
        <input type="text" name="q" class="form-control subnav-search-input f6" value="<%= params[:q] %>" placeholder="<%= t(".Find a repository") %>" />
        <%= icon_tag "search", class: "subnav-search-icon" %>
        <% if params[:q].present? %>
          <a href="<%= @group.to_path %>" class="link-cancel"><%= icon_tag "cancel" %></a>
        <% end %>
      </div>
    </form>
  </h1>
  <div class="group-repositories col-12 col-md-9 float-left pr-md-6">
    <% if @repositories.blank? %>
      <div class="blankslate no-data no-repo">
        <h3><%= t(".There is no repository") %></h3>
        <p><%= t(".You can create first repository") %></p>
        <p><%= link_to t(".Create new"), new_repository_path(user_id: @group.id), class: "btn btn-primary" %></p>
      </div>
    <% else %>
      <%= render @repositories, no_path: true %>
      <%= paginate @repositories %>
    <% end %>
  </div>
  <div class="col-12 col-md-3 float-left hide-sm pl-3">
    <div class="group-members">
      <div class="sub-title"><%= t(".Members") %>(<%= @group.members_count %>)</div>
      <div class="list clearfix">
        <% @members.limit(30).each do |member| %>
          <%= user_avatar_tag(member.user, style: :medium) %>
        <% end %>
      </div>
    </div>
  </div>
</div>