<% title_tag @group.name %>

<%= render "groups/menu" %>

<div class="container">
  <div class="clearfix">
    <div class="subhead">
      <form action="" class="subnav-search" method="GET">
        <input type="text" name="q" class="form-control subnav-search-input" value="<%= params[:q] %>" placeholder="<%= t(".Find a repository") %>" />
        <%= icon_tag "search", class: "subnav-search-icon" %>
        <% if params[:q].present? %>
          <a href="<%= @group.to_path %>" class="link-cancel ml-2"><%= t(".Show all") %></a>
        <% end %>
      </form>
    </div>

    <div class="group-repositories col-12 col-md-9 float-left pr-md-5">
      <% if @repositories.blank? %>
        <div class="blankslate">
          <h3><%= t(".There is no repository") %></h3>
          <p><%= t(".You can create first repository") %> <%= link_to t(".Create new"), new_repository_path(user_id: @group.id) %>.</p>
        </div>
      <% else %>
        <%= render @repositories %>
        <%= paginate @repositories %>
      <% end %>
    </div>
    <div class="col-12 col-md-3 float-left hide-sm">
      <div class="group-members box">
        <div class="box-body">
          <div class="sub-title"><%= t(".Members") %></div>
          <div class="list clearfix">
            <% @members.limit(30).each do |member| %>
              <div class="m-1 float-left"><%= user_avatar_tag(member.user) %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>