<div class="user-card">
  <div class="avatar-box">
    <%= user_avatar_tag(user, style: :medium) %>
  </div>
  <div class="infos">
    <div class="d-inline-block mb-1">
      <div class="f4 lh-condensed text-bold text-gray-dark">
        <%= user_display_name_tag(user) %>
        <%= user_name_tag(user) %>
      </div>
    </div>
    <div class="f6 text-gray">
      <span class="counter"><%= user.followers_count %> <%= t(".followers") %></span>
    </div>
  </div>
</div>
