<div class="user-overview">
  <h1 class="title"><%= t(".Overview") %><h1>
  <h2 class="sub-title"><%= t(".All activities") %></h2>
  <div class="user-activities mt-4">
    <% if @activities.blank? %>
      <div class="blankslate">
        <p><strong><%= @user.name %></strong> <%= t(".no activities") %></p>
      </div>
    <% else %>
      <%= render @activities %>
      <%= render "/shared/more_button" %>
    <% end %>
  </div>
</div>

