<div class="user-repositories">
  <h2 class="sub-title"><%= t(".Repositories") %></h2>
  <% if @repositories.blank? %>
    <div class="blankslate">
      <p><strong><%= @user.name %></strong> <%= t(".no repositories") %></p>
    </div>
  <% else %>
    <ul class="list-container repository-list">
      <%= render partial: "/repositories/repository", collection: @repositories, locals: { current_group: @user } %>
    </ul>
    <%= paginate @repositories %>
  <% end %>
</div>

