<div class="col-12 clearfix">
  <div class="col-12 col-md-8">
    <div class="sub-title">
      <div class="heading"><%= icon_tag("password") %> <%= t(".Reset password") %> </div>
      <div class="description"><%= t(".Input your account Email address, we will send a reset password link to you Email") %></div>
    </div>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "/shared/error_messages", target: resource %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if rucaptcha_enable? %>
      <div class="form-group">
        <label class="control-label"><%= t("Captcha") %></label>
        <div style="width: 250px">
          <%= rucaptcha_input_tag(class: 'form-control') %>
        </div>
        <%= rucaptcha_image_tag(alt: 'Captcha') %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit t(".Submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
