<%= form_with(model: [@user, @repository, doc],
  url: user_repository_doc_path(@user, @repository, @doc),
  local: true, remote: true) do |form| %>
  <div id="editor-form">
    <div class="editor-navbar">
      <div class="navbar-title">
        <a class="navbar-brand" href="<%= @repository.to_path %>" title="Back to list"><%= icon_tag("book") %></a>
        <span class="divide">/</span>
        <%= repository_name_tag @repository %>
        <span class="divide">/</span>
        <%= doc.title || "New doc" %>
        <span class="editor-message"></span>
      </div>
      <div class="navbar-buttons">
        <button type="button" data-url="<%= user_repository_doc_path(@user, @repository, @doc) %>" class="btn btn-save">Save</button>
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>
    </div>

    <%= form.hidden_field :slug %>
    <%= form.hidden_field :title, value: @doc.draft_title %>
    <%= form.text_area :body, class: "booklab-editor", value: doc.draft_body_plain, data: {
       direct_upload_url: rails_direct_uploads_url,
       blob_url_template: upload_path(":id")
      } %>
    <%= form.text_area :body_sml, value: doc.draft_body_sml_plain, style: "display: none" %>
  </div>
<% end %>
