<%= form_with(model: [@user, @repository, doc],
  url: user_repository_doc_path(params[:user_id], params[:repository_id], params[:id]),
  local: true, remote: true) do |form| %>

  <% if @doc.errors.any? %>
  <details class="doc-validation-error details-reset details-overlay" open>
    <summary></summary>
    <details-dialog class="Box Box--overlay d-flex flex-column anim-fade-in fast">
      <div class="Box-body overflow-auto">
        <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
          <%= icon_tag "times" %>
        </button>
        <div class="mx-5 my-2">
          <div class="mb-4 text-center text-red">
            <p style="font-size: 32px"><%= icon_tag("exclamation-triangle") %></p>
            <div class="mb-1 text-red">
              <strong>Doc publish failed, because there has <%= @doc.errors.count %> issues!</strong>
            </div>
          </div>
          <ul class="ml-3">
            <% @doc.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </details-dialog>
    </details>
  <% end %>


  <div id="editor-form">
    <div class="editor-navbar">
      <div class="navbar-title">
        <a class="navbar-brand" href="<%= @repository.to_path %>" title="Back to list"><%= icon_tag("book") %></a>
        <span class="divide">/</span>
        <%= repository_name_tag @repository %>
        <span class="divide">/</span>
        <%= doc.title || "New doc" %>
        <span class="editor-message"></span>
      </div>
      <div class="navbar-buttons">
        <button type="button" data-url="<%= user_repository_doc_path(@user, @repository, @doc) %>" class="btn btn-save">Save</button>
        <button type="submit" class="btn btn-primary">Publish</button>
      </div>
    </div>

    <%= form.hidden_field :slug %>
    <%= form.hidden_field :title, value: @doc.draft_title %>
    <%= form.text_area :body, class: "booklab-editor", value: doc.draft_body_plain, data: {
       direct_upload_url: rails_direct_uploads_url,
       blob_url_template: upload_path(":id")
      } %>
    <%= form.text_area :body_sml, value: doc.draft_body_sml_plain, style: "display: none" %>
  </div>
<% end %>