<% title_tag @doc ? @doc.title : "Not found" %>

<% content_for :nav_search do %>
  <%= render partial: "/layouts/search_nav", locals: { props: { action: @repository.to_path("/docs/search"), scope: "Repository", value: params[:q] } } %>
<% end %>

<% content_for :subnav do %>
<div class="navbar-wide-mode" style="display: none">
  <a href="#" class="btn btn-wide-mode-exit"><%= t(".Exit Fullscreen") %></a>
</div>
<% end %>

<% content_for :nav_path do %>
  <div class="navbar-title">
    <span class="hide-sm">
      <%= group_name_tag @user %>
       /
    </span>
    <%= repository_name_tag @repository %>
    <% if @doc&.private? %>
      <span class="label label-private icon-middle-wrap ml-2"><%= icon_tag("lock") %><%= t(".Private") %></span>
    <% end %>
  </div>
<% end %>
<div class="doc-page d-flex flex-wrap flex-lg-nowrap">
  <%= react_component("toc-tree/index", { repositoryId: @repository&.id, currentDocId: @doc&.id } ) %>

</div>
<%= react_component("QuickScroll") %>