<%= render layout: "shared/modal", locals: {
  title: "Delete repository",
  button_text: "Delete this repository",
  button_class: "btn btn-danger"
} do %>
  <div class="Box-body overflow-auto">
    <%= form_with(model: @repository, url: user_repository_settings_path(@user, @repository), method: :delete) do |form| %>
      <p>
        This action <strong>cannot</strong> be undone. This will permanently delete the <strong><%= @repository.user&.slug %>/<%= @repository.slug %></strong> repository, docs, versions and comments.
      </p>
      <div class="form-group">
        <label class="control-label">Please type in the path <strong class="text-red"><%= @repository.slug %></strong> to confirm</label>
        <input type="text" confirm-for="btn-confirm-delete" confirm-value="<%= @repository.slug %>" autocomplete="off" class="form-control" />
      </div>

      <div class="actions">
        <button type="submit" id="btn-confirm-delete" disabled class="btn btn-danger btn-block">I understand, delete this repository.</button>
      </div>
    <% end %>
  </div>
<% end %>