<%
  privacy_name = @repository.private? ? t(".public") : t(".private")
  value = @repository.private? ? "public" : "private"
%>

<details class="details-reset details-overlay details-overlay-dark">
  <summary class="btn btn-danger" aria-haspopup="dialog"><%= t(".Make privacy", privacy: privacy_name) %></summary>
  <details-dialog class="box d-flex flex-column anim-fade-in fast">
    <div class="box-header">
      <button class="box-btn-octicon btn-octicon float-right" type="button" data-close-dialog>
        <%= icon_tag "times" %>
      </button>
      <h3 class="box-title"><%= t(".Make this repository privacy", privacy: privacy_name) %></h3>
    </div>

    <div class="box-body overflow-auto">
      <%= form_with(model: @repository, url: user_repository_settings_path(@user, @repository), method: :put) do |form| %>
        <p>
          <% if @repository.private? %>
            <%= t(".Public this repository from the private, this repository and docs will be visible to everyone who can visit") %> <%= Setting.host %>.
          <% else %>
            <%= t(".Private this repository from the public, this change will remove repository watchers, stars") %>
          <% end %>
        </p>

        <%= form.hidden_field :privacy, value: value %>

        <div class="form-group">
          <label class="control-label"><%= t(".Please type in the path") %> <strong class="text-red"><%= @repository.slug %></strong> <%= t(".to confirm") %></label>
          <input type="text" confirm-for="#btn-confirm-change-private" confirm-value="<%= @repository.slug %>" autocomplete="off" class="form-control" />
        </div>

        <div class="actions">
          <button type="submit" id="btn-confirm-change-private" disabled class="btn btn-danger btn-block">
            <%= t(".Confirm and submit", privacy: privacy_name) %>
          </button>
        </div>
      <% end %>
    </div>

  </details-dialog>
</details>