<% title_tag "Settings", @repository.name %>

<div class="clearfix">
  <%= render "menu" %>
  <div class="col-12 col-md-9 float-left">

    <%= form_for(@repository, url: docs_user_repository_settings_path(@user, @repository), method: :post) do |f| %>
      <div class="Box transfer-docs">
        <div class="Box-header">
          <h4 class="title mb-2">Transfer docs to other repository</h4>
          <div class="text-gray">
            Choise doc in list, you can move them into the other repository.
          </div>
        </div>
        <ul style="max-height: 350px; overflow-y: scroll;">
          <% @repository.docs.each do |doc| %>
          <li class="Box-row">
            <label for="doc-<%= doc.id %>-checkbox" style="font-weight: normal;" class="display-block clearfix">
             <input id="doc-<%= doc.id %>-checkbox" type="checkbox" class="form-checkbox float-left mr-3 doc-checkbox" name="transfer[doc_id][]" value="<%= doc.id %>" />
             <div class="title"><%= doc.title %></div>
             <div class="slug text-gray"><%= doc.slug %></div>
            </label>
          </li>
          <% end %>
        </ul>
        <div class="flash flash-full flash-warn">
          <span class="mr-2"><%= icon_tag("info") %></span> If there has same doc slug exists in the destination repository, it will change it as a random slug.
        </div>
        <div class="Box-footer">


          <div class="clearfix">
            <div class="float-left mr-3 mb-3 mb-md-0">
              <%= render "/shared/user_repositories_select_menu", input_name: "transfer[repository_id]", value: params.dig(:transfer, :repository_id) %>
            </div>

            <div class="float-left">
              <button type="submit" class="btn btn-danger">Transfer now!</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <div>
</div>