<% title_tag "Settings", @repository.name %>

<div class="col-12 d-table">
  <%= render "menu" %>
  <div class="col-8 d-table-cell">
    <%= form_with(model: @repository, url: user_repository_settings_path(@user, @repository), local: true, remote: true) do |form| %>
      <div class="form-title"><h2>Settings</h2></div>

      <input type="hidden" name="action" value="show" />
      <% if params[:_by].blank? %>
        <%= render "/shared/error_messages", target: @repository %>
      <% end %>

      <div class="form-group">
        <%= form.label :name, class: "control-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :description, class: "control-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :slug, class: "control-label" %>
        <%= form.text_field :slug, class: "form-control" %>
        <div class="form-text">
          <%= Setting.host %><%= @user.to_path %>/:slug
        </div>
      </div>

      <div class="actions">
        <%= form.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= form_with(model: @repository, url: user_repository_settings_path(@user, @repository),  remote: true, method: :patch) do |form| %>
      <div class="form-title"><h2>Features</h2></div>

      <% if params[:_by] == "features" %>
        <%= render "/shared/error_messages", target: @repository %>
      <% end %>
      <input type="hidden" name="action" value="show" />
      <input type="hidden" name="_by" value="features" />

      <div class="Box mb-3">
        <div class="Box-row d-flex flex-items-center">
          <div class="form-check">
            <%= form.check_box :has_toc, class: "form-check-input form-check-submit" %>
            <%= form.label :has_toc, "Table of Contents", class: "form-check-label font-weight-bold" %>
            <div class="form-text">
              Enable to use Table of Contents style for Repository index.
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <%= form_with(model: @repository, url: user_repository_settings_path(@user, @repository),  remote: true, method: :patch) do |form| %>
      <div class="form-title"><h2>Danger Zone</h2></div>

      <% if params[:_by] == "danger-zone" %>
        <%= render "/shared/error_messages", target: @repository %>
      <% end %>
      <input type="hidden" name="action" value="show" />
      <input type="hidden" name="_by" value="danger-zone" />

      <div class="Box mb-3">
        <div class="Box-row d-flex flex-items-center">
          <div class="flex-auto">
            <label class="form-check-label font-weight-bold">
              <% if @repository.private? %>
              Make this repository public
              <% else %>
              Make this repository private
              <% end %>
            </label>
            <div class="form-text">
              <% if @repository.private? %>
                Public this repository from the private.
              <% else %>
                Private this repository from the public.
              <% end %>
            </div>
          </div>
          <%= form.hidden_field :privacy, value: (@repository.private? ? "public" : "private") %>
          <button type="submit" class="btn btn-outline-danger btn-sm" data-confirm="Are you sure?"><%= @repository.private? ? "Make public" : "Make private" %></button>
        </div>
        <div class="Box-row d-flex flex-items-center">
          <div class="flex-auto">
            <label class="form-check-label font-weight-bold">
              Delete this repository
            </label>
            <div class="form-text d-table-cell">
              Once you delete a repository, there is no going back. Please be certain.
            </div>
          </div>
          <%= link_to "Delete this repository", user_repository_settings_path(@user, @repository), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(".form-check-submit").on("change", function(e) {
    $(e.target).closest("form").submit();
  });
</script>
