<%

class_name = "btn-link #{item_class}"
value = reaction.name

if reaction.group_user_slugs.include?(current_user&.slug)
  class_name += " selected"
  value += " unset" if item_class == "reaction-summary-item"
end

title = ""
if reaction.group_user_slugs.length > 0
  title = reaction.group_user_slugs.take(3).join(", ")
  if reaction.group_user_slugs.length > 3
    title += t(".and count people has reacted", count: reaction.group_user_slugs.length)
  else
    title += t(".has reacted")
  end
end
%>

<button type="submit" class="<%= class_name %>"
  name="reaction[content]" value="<%= value %>"
  data-toggle="tooltip"
  title="<%= title %>">
  <%= image_tag reaction.url, class: "emoji" %>
  <% if reaction.group_count > 0 %>
    <%= reaction.group_count %>
  <% end %>
</button>
