<%= cache([subject, "reactions"]) do %>
<div id="<%= subject.class.name %>-<%= subject.id %>-reaction-box">
  <div class="reaction-box <%= "reaction-box-empty" if reactions.grouped.blank? %> clearfix mt-3">
    <%
      @reaction = Reaction.new(subject: subject)
    %>
    <%= form_for @reaction, url: reactions_path, method: :post, remote: true, class: "reaction-form" do |f| %>
      <%= f.hidden_field :subject_type %>
      <%= f.hidden_field :subject_id %>
      <div class="reaction-list">
        <%= render partial: "/reactions/reaction", collection: reactions.grouped, as: :reaction, locals: { item_class: "reaction-summary-item" } %>
      </div>
    <% end %>

    <% if current_user %>
      <%= render "/reactions/new_button", reaction: @reaction %>
    <% end %>
  </div>
</div>
<% end %>