<details class="details-reset details-overlay details-overlay-dark">
  <summary class="<%= button_class %>" aria-haspopup="dialog"><%= button_text %></summary>
  <details-dialog class="Box d-flex flex-column anim-fade-in fast">
    <div class="Box-header">
      <button class="Box-btn-octicon btn-octicon float-right" type="button" aria-label="Close dialog" data-close-dialog>
        <%= icon_tag "times" %>
      </button>
      <h3 class="Box-title"><%= title %></h3>
    </div>
    <div class="overflow-auto">
      <%= yield %>
    </div>
  </details-dialog>
</details>