<%
auth_session = session[:omniauth] || {}
auth_info = auth_session.dig("info")
%>

<div class="container-lg clearfix">
  <div class="col-12 col-md-8 float-left">
    <div class="sub-title">
      <div class="heading"><%= icon_tag("profile") %> Sign in</div>
      <div class="description">Input your username or email to sign in BookLab.</div>
    </div>

    <% if auth_info %>
    <div class="flash flash-warn mt-5">
      <p>You have signed in with <b><%= session[:omniauth]["provider"].humanize %></b></p>
      <p>Input your exists BookLab account to bind with <b><%= session[:omniauth]["provider"].humanize %></b></p>
    </div>
    <% end %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "/shared/error_messages", target: resource %>

      <div class="form-group">
        <%= f.label :email, "Username / Email" %>
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
        <%= link_to "Forgot your password?", new_password_path(resource_name), class: "btn" %>
      </div>

      <div class="py-3 mt-5 border-top">
        <%= link_to "Didn't receive unlock instructions?", new_user_unlock_path(resource_name), class: "btn-link btn-link-gray" %>
      </div>
    <% end %>
  </div>
  <div class="col-12 col-md-4 float-left mt-4 pl-md-4">
    <% if resource_class.omniauth_providers.any? && defined? omniauth_authorize_path %>
    <div class="Box">
      <div class="Box-body">
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%
        provider_name = OmniAuth::Utils.camelize(provider)
        if provider.to_s == "google_oauth2"
          provider_name = "Google"
        end
        %>
          <%= link_to "Sign in with #{provider_name}", omniauth_authorize_path(resource_name, provider), class: "btn btn-block" %>
        <% end -%>
      </div>
    </div>
    <% end %>
  </div>
</div>
