<%%= render 'base' %>

<div class="detail admin-edit-<%= singular_table_name %>">
  <div class="detail-action">
    <%%= link_to icon_tag("arrow-left", label: "Back"), <%= index_helper %>_path, class: "btn" %>
    <%%= link_to icon_tag("pencil-alt", label: "Edit"), edit_<%= singular_table_name %>_path(@<%= file_name %>.id), class: "btn" %>
  </div>

  <% for attribute in attributes %>
  <div class="detail-row">
    <div class="detail-label"><%= attribute.human_name %>:</div>
    <div class="detail-value"><%%= @<%= file_name %>.<%= attribute.name %> %></div>
  </div>
  <% end %>
</div>