<div class="search-result search-result-doc">
  <div class="title"><%= link_to highlight(hit.highlight.title || item.title), item.to_path, target: "_blank" %></div>
  <div class="info clearfix">
    <span class="parent-name">
      <%= item.repository&.user&.name %>
      <span class="divider">/</span>
      <%= item.repository&.name %>
    </span>

    <span class="date float-right">Updated at <%= timeago item.body_updated_at %></span>
  </div>
  <div class="description">
    <%= highlight(hit.highlight.body) %>
  </div>
</div>