<div class="col-12 clearfix">
  <%= render "menu" %>

  <div class="col-9 float-left">
    <div class="search-results Box">
      <%= render "search_info" %>
      <div class="Box-body">
        <% if @result.records.blank? %>
        <%= render "no_result" %>
        <% end %>

        <% @result.records.each_with_hit do |item, hit| %>
          <%= render "user", item: item, hit: hit %>
        <% end %>
      </div>
    </div>

    <%= paginate @result %>
  </div>
</div>