<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="search-results">
      <div class="items">
        <% if @result.records.blank? %>
          <%= render "no_result" %>
        <% else %>
          <%= render "search_info" %>
          <% @result.records.each_with_hit do |item, hit| %>
            <%= render "repository", item: item, hit: hit %>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= paginate @result %>
  </div>
</div>
</div>