<div class="col-12 d-table">
  <%= render "menu" %>

  <div class="col-8 d-table-cell">
    <div class="search-results Box">
      <%= render "search_info" %>
      <div class="Box-body">
        <% if @result.records.blank? %>
        <%= render "no_result" %>
        <% end %>

        <% @result.records.each_with_hit do |item, hit| %>
          <%= render "repository", item: item, hit: hit %>
        <% end %>
        <%= paginate @result %>
      </div>
    </div>
  </div>
</div>