<div class="flex-wrap">
    <%= render "menu" %>
    <div class="col-12 col-md-9">
    <%= form_for(Setting.new, url: admin_settings_path) do |f| %>
      <input type="hidden" name="_action" value="ui" />

      <div class="sub-title"><%= t(".Customize UI") %></div>

      <div class="form-group">
        <label class="control-label"><%= t(".Default language") %></label>
        <%= select :setting, :default_locale, Setting.locale_options, { selected: Setting.default_locale }, { class: "form-control" } %>
        <div class="form-text">
          <%= t(".Setup default language for BlueDoc") %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label"><%= t(".Application Footer HTML") %></label>
        <%= f.text_area :application_footer_html, value: Setting.application_footer_html, class: "form-control", style: "height: 200px; min-height: 200px"  %>
        <div class="form-text">
          <%= t(".You can use HTML to customize the footer") %>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label"><%= t(".Dashboard Sidebar HTML") %></label>
        <%= f.text_area :dashboard_sidebar_html, value: Setting.dashboard_sidebar_html, class: "form-control", style: "height: 200px; min-height: 200px"  %>
        <div class="form-text">
          <%= t(".Customize the sidebar html in dashboard page for user signed in") %>
        </div>
      </div>

      <div class="form-action">
        <%= f.submit t(".Save"), class: "btn btn-primary mr-1" %>
      </div>
    <% end %>
  </div>
</div>