<div id="notification-<%= notification.id %>"
     data-id="<%= notification.id %>"
     class="notification clearfix notification-<%= notification.notify_type %><%= ' unread' unless notification.read? %>">
  <div class="avatar-box">
    <%= user_avatar_tag notification.actor, style: :tiny %>
  </div>
  <div class="infos">
    <%= link_to notification.text, notification_url(notification), target: "_blank" %>
    <span class="time-box">
      <%= l notification.created_at, format: :short %>
    </span>
  </div>
</div>
