<% if @repositories.blank? %>
<div class="blankslate">
  <p>You does not have any <%= action_name.singularize %> repositories.
</div>
<% else %>
<table class="dashboard-table table table-striped" data-action-button-reload>
  <tr>
    <td>Name</td>
    <td class="hide-sm hide-md">Description</td>
    <td class="hide-sm">Stars</td>
    <td class="hide-sm">Watches</td>
    <td></td>
  </tr>
  <% @repositories.each do |repo| %>
  <tr class="repo-item">
    <td>
      <%= repository_path_tag(repo) %>
    </td>
    <td class="hide-sm hide-md">
      <%= repo.description %>
    </td>
    <td class="hide-sm">
      <%= repo.stars_count %>
    </td>
    <td class="hide-sm">
      <%= repo.watches_count %>
    </td>
    <td>
      <% if action_name == "stars" %>
        <%= action_button_tag(repo, :star, undo: true) %>
      <% else %>
        <%= action_button_tag(repo, :watch, icon: :eye, undo: true) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>
