<% if @repositories.blank? %>
<div class="blankslate">
  <p><%= t(".You does not have any action_name repositories", action: action_name.singularize) %></p>
</div>
<% else %>

<div class="dashboard-repos list-container" data-action-button-reload>
  <% @repositories.each do |repo| %>
  <div class="recent-repo-item list-item">
    <div class="title"><%= repository_name_tag(repo) %></div>
    <div class="description">
      <%= truncate repo.description, length: 100 %>
    </div>
    <div class="info">
      <span class="user">
        <%= icon_tag("user") %> <%= user_name_tag(repo&.user) %>
      </span>
    </div>
    <div class="action">
      <% if action_name == "stars" %>
        <%= action_button_tag(repo, :star, undo: true) %>
      <% else %>
        <%= action_button_tag(repo, :watch, icon: :watch, undo: true) %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<% end %>
