<% if @notes.blank? %>
<div class="blankslate no-data no-star-note">
  <h3><%= t(".No star notes") %></h3>
  <p><%= t(".You does not have any action_name notes", action: action_name.singularize) %></p>
</div>
<% else %>
<h2 class="sub-title"><%= t(".Stared Notes") %></h2>
<ul class="list-container recent-docs recent-notes">
  <% @notes.each do |note| %>
    <li class="list-item list-avatar recent-doc-item">
      <div class="avatar-box icon-box icon-doc">
        <%= icon_tag("avatar-doc") %>
      </div>
      <div class="title">
        <%= note_title_tag(note) %>
      </div>
      <div class="path">
        <%= user_name_tag(note.user, with_icon: true) %> /
        <%= link_to t(".Notes"), user_notes_path(note.user, with_icon: true) %>
      </div>
      <div class="action action-icon text-gray"><%= action_button_tag(note, :star, undo: true) %></div>
      <div class="time-box">
        <%= timeago note.updated_at %>
      </div>
    </li>
  <% end %>
</ul>
<% end %>
