<% if @docs.blank? %>
<div class="blankslate">
  <p><%= t(".You does not have any action_name docs", action: action_name.singularize) %></p>
</div>
<% else %>

<ul class="list-container recent-docs">
  <% @docs.each do |doc| %>
    <li class="list-item list-avatar recent-doc-item">
      <div class="avatar-box icon-box icon-doc">
        <%= icon_tag("avatar-doc") %>
      </div>
      <div class="title">
        <%= doc_title_tag(doc) %>
      </div>
      <div class="path">
        <%= user_display_name_tag(doc.repository.user) %> / 
        <%= repository_name_tag(doc.repository) %>
      </div>
      <div class="action"><%= action_button_tag(doc, :star, undo: true) %></div>
      <div class="time-box">
        <%= timeago doc.updated_at %>
      </div>
    </li>
  <% end %>
</ul>
<% end %>
