<% if @docs.blank? %>
<div class="blankslate no-data no-star-doc">
  <h3><%= t(".No star docs") %></h3>
  <p><%= t(".You does not have any action_name docs", action: action_name.singularize) %></p>
</div>
<% else %>
<h2 class="sub-title"><%= t(".Stared Docs") %></h2>
<ul class="list-container recent-docs">
  <% @docs.each do |doc| %>
    <li class="list-item list-avatar recent-doc-item">
      <div class="avatar-box icon-box icon-doc">
        <%= icon_tag("avatar-doc") %>
      </div>
      <div class="title">
        <%= doc_title_tag(doc) %>
      </div>
      <div class="path">
        <%= user_name_tag(doc.repository.user, with_icon: true) %> /
        <%= repository_name_tag(doc.repository, with_icon: true) %>
      </div>
      <% if can? :update, doc %>
      <div class="action action-icon text-gray"><%= action_button_tag(doc, :star, undo: true) %></div>
      <% end %>
      <div class="time-box">
        <%= timeago doc.updated_at %>
      </div>
    </li>
  <% end %>
</ul>
<% end %>
