<ul class="list-container recent-docs">
  <% items.each do |item| %>
    <li class="list-item list-avatar recent-doc-item">
      <div class="avatar-box icon-box icon-doc">
        <%= icon_tag("avatar-doc") %>
      </div>
      <div class="title text-overflow">
        <%= doc_title_tag(item.subject) %>
      </div>
      <div class="path">
        <%= user_display_name_tag(item.subject.repository.user, with_icon: true) %> /
        <%= repository_name_tag(item.subject&.repository, with_icon: true) %>
      </div>
      <div class="time-box">
        <%= timeago item.updated_at %>
      </div>
      <% if can? :update, item.subject %>
      <div class="action action-icon text-gray">
        <%= link_to icon_tag("edit"), item.subject.to_path("/edit") %>
      </div>
      <% end %>
    </li>
  <% end %>
</ul>
