<table class="dashboard-table">
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Members</td>
    <td>Last visit</td>
  </tr>
  <% items.each do |item| %>
  <tr class="recent-group-item Box-row">
    <td>
      <%= user_avatar_tag(item, style: :tiny) %>
      <%= user_name_tag(item) %>
    </td>
    <td class="text-gray">
      <%= item.description %>
    </td>
    <td class="text-gray">
      <%= item.members_count %>
    </td>
    <td>
      <%= timeago item.created_at %>
    </td>
  </tr>
  <% end %>
</table>