<% if items.blank? %>
<div class="blankslate">
  <p>You does not have any groups.</p>
</div>
<% else %>
<div class="dashboard-groups d-flex d-flex-column flex-wrap">
  <% items.each do |item| %>
  <div class="recent-group-item Box">
    <div class="Box-body">
      <div class="title">
        <%= user_avatar_tag(item, style: :tiny) %>
        <%= group_name_tag(item) %>
      </div>
      <div class="description">
        <%= truncate item.description, length: 100 %>
      </div>
      <div class="info text-gray">
        <span class="members"><%= icon_tag("users") %> <%= item.members_count %></span>
        <span class="time"><%= timeago item.created_at %></span>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>