<% if items.blank? %>
<div class="blankslate">
  <p><%= t(".You does not have any groups") %></p>
</div>
<% else %>
<ul class="dashboard-groups list-container">
  <% items.each do |item| %>
  <li class="recent-group-item list-item list-avatar">
    <div class="avatar-box">
      <%= user_avatar_tag(item, style: :medium) %>
    </div>
    <div class="title text-overflow">
      <%= group_name_tag(item) %>
    </div>
    <% if item.description.present? %>
    <div class="description text-overflow">
      <%= truncate item.description, length: 100 %>
    </div>
    <% end %>
    <div class="info">
      <span class="members">
        <%= icon_tag("group") %> <span><%= item.members_count %></span>
      </span>
    </div>
    <div class="time-box"><%= timeago item.created_at %></div>
  </li>
  <% end %>
</ul>
<% end %>