<% if items.blank? %>
<div class="blankslate">
  <p>You does not have any groups.</p>
</div>
<% else %>
<table class="dashboard-table table table-striped">
  <tr>
    <td>Name</td>
    <td class="hide-sm hide-md">Description</td>
    <td class="hide-sm">Members</td>
    <td>Last visit</td>
  </tr>
  <% items.each do |item| %>
  <tr class="recent-group-item Box-row">
    <td>
      <%= user_avatar_tag(item, style: :tiny) %>
      <%= group_name_tag(item) %>
    </td>
    <td class="hide-sm hide-md text-gray" style="max-width: 200px">
      <%= truncate item.description, length: 100 %>
    </td>
    <td class="hide-sm text-gray">
      <%= item.members_count %>
    </td>
    <td style="width: 150px">
      <%= timeago item.created_at %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>