<% if items.blank? %>
<div class="blankslate">
  <p>You does not have any repositories.</p>
</div>
<% else %>
<table class="dashboard-table table table-striped">
  <tr>
    <td>Name</td>
    <td class="hide-sm hide-md">Description</td>
    <td class="hide-sm">Stars</td>
    <td class="hide-sm">Watches</td>
    <td>Last visit</td>
  </tr>
  <% items.each do |item| %>
  <tr class="recent-repo-item">
    <td>
      <%= repository_path_tag(item) %>
    </td>
    <td class="hide-sm hide-md" style="max-width: 200px">
      <%= truncate item.description, length: 100 %>
    </td>
    <td class="hide-sm">
      <%= item.stars_count %>
    </td>
    <td class="hide-sm">
      <%= item.watches_count %>
    </td>
    <td style="width: 150px">
      <%= timeago item.updated_at %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>