<% if items.blank? %>
<div class="blankslate">
  <p>You does not have any repositories.</p>
</div>
<% else %>

<div class="dashboard-repos d-flex d-flex-column flex-wrap">
  <% items.each do |item| %>
  <div class="recent-repo-item Box">
    <div class="Box-body">
      <div class="infos">
        <div class="title"><%= icon_tag("repository") %> <%= repository_path_tag(item.subject) %></div>
        <div class="description">
          <%= truncate item.subject.description, length: 100 %>
        </div>
        <div class="info">
          <span class="stars">
            <%= icon_tag("star") %> <%= item.subject.stars_count %>
          </span>
          <span class="watches">
            <%= icon_tag("eye") %> <%= item.subject.watches_count %>
          </span>
          <span class="time">
            <%= timeago item.updated_at %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>