<% if items.blank? %>
<div class="blankslate">
  <p>You does not have any repositories.</p>
</div>
<% else %>
<table class="dashboard-table table table-striped">
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Stars</td>
    <td>Watches</td>
    <td>Last visit</td>
  </tr>
  <% items.each do |item| %>
  <tr class="recent-repo-item">
    <td>
      <%= repository_path_tag(item) %>
    </td>
    <td style="max-width: 200px">
      <%= truncate item.description, length: 100 %>
    </td>
    <td>
      <%= item.stars_count %>
    </td>
    <td>
      <%= item.watches_count %>
    </td>
    <td>
      <%= timeago item.updated_at %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>