<% title_tag t(".Dashboard Docs") %>
<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <div class="subhead"><h2><%= t(".Recent docs") %></h2></div>
      <% if @user_actives.blank? %>
        <div class="blankslate">
          <h3><%= t(".No docs") %></h3>
          <p><%= t(".You does not have any updated docs") %></p>
        </div>
      <% else %>
        <%= render partial: "docs", locals: { items: @user_actives } %>
        <%= paginate @user_actives %>
      <% end %>
    </div>
  </div>
</div>
</div>
