<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content">

      <div class="mb-5 dashboard-section">
        <div class="sub-title">Recent activity</div>
        <% if @recent_docs.blank? %>
          <div class="blankslate">
            <p>You have no update Doc in recently.</p>
          </div>
        <% else %>
          <ul class="cards-container recent-docs">
            <% @recent_docs.each do |item| %>
              <li class="card card-avatar recent-doc-item">
                <%= user_avatar_tag(current_user, style: :small, link: false) %>
                <div class="path">
                  <%= repository_path_tag(item.subject&.repository) %>
                </div>
                <div class="title">
                  <%= doc_title_tag(item.subject) %>
                </div>
                <div class="info">
                  <%= timeago item.updated_at %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="mb-5 dashboard-section">
        <div class="sub-title">Recent Repositories</div>
        <% if @recent_repos.blank? %>
          <div class="blankslate">
            <p>You have no update Repositories in recently.</p>
          </div>
        <% else %>
        <ul class="cards-container repo-list">
          <% @recent_repos.each do |repo| %>
            <li class="card repo-item">
              <div class="path">
                <%= user_name_tag(repo.user) %>
              </div>
              <div class="title">
                <%= repository_name_tag(repo.subject) %>
              </div>
              <div class="info">
                <%= timeago repo.updated_at %>
              </div>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <% if !@groups.blank? %>
      <div class="mb-5 dashboard-section">
        <div class="sub-title">Your Groups</div>
        <ul class="cards-container group-list">
          <% @groups.each do |group| %>
            <li class="card card-avatar group-item">
              <%= user_avatar_tag(group, style: :tiny) %>
              <div class="title">
                <%= group_name_tag(group) %>
              </div>
              <div class="info">
                <%= group.description || group.slug %>
              </div>
            </li>
          <% end %>
        </ul>
        <%= raw Setting.dashboard_sidebar_html %>
      </div>
      <% end %>

      <div class="mb-5 dashboard-section activities">
        <div class="sub-title">All activity</div>
        <% if @activities.blank? %>
          <div class="blankslate">
            <p>You have no activity in recently.</p>
          </div>
        <% else %>
          <%= render @activities %>
          <%= render "/shared/more_button", url: activities_dashboard_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
