<div class="dashboard-main">
  <%= render "menu" %>

  <div class="dashboard-content clearfix">
    <div class="content-main">
      <div class="sub-title">Recent activity</div>
      <div class="mb-5">
        <% if @recent_docs.blank? %>
          <div class="blankslate">
            <h3>No recent docs</h3>
            <p>You have no update Doc in recently.</p>
          </div>
        <% else %>
          <%= render partial: "docs", locals: { items: @recent_docs } %>
        <% end %>
      </div>

      <div class="activities">
        <div class="sub-title">All activity</div>
        <% if @activities.blank? %>
          <div class="blankslate">
            <h3>No activity</h3>
            <p>You have no activity in recently.</p>
          </div>
        <% else %>
          <%= render @activities %>
          <%= render "/shared/more_button", url: activities_dashboard_path %>
        <% end %>
      </div>
    </div>

    <div class="sub-sidebar pl-4">
      <% if !@recent_repos.blank? %>
      <div class="sub-title">Recent Repositories</div>
      <div class="Box mb-3">
        <div class="Box-body">
          <div class="repo-list clearfix">
            <% @recent_repos.each do |repo| %>
              <div class="repo-item">
                <div class="icon-box">
                  <%= icon_tag("repository") %>
                </div>
                <div class="title"><%= repository_path_tag(repo.subject) %></div>
                <div class="time"><%= timeago repo.created_at %></div>
              </div>
            <% end %>
            <div class="repo-item repo-item-more">
              <div class="title"> <%= link_to "More ...", repositories_dashboard_path %></div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <% if !@groups.blank? %>
      <div class="sub-title">Your Groups</div>
      <div class="Box mb-3">
        <div class="Box-body">
          <div class="group-list clearfix">
            <% @groups.each do |group| %>
              <div class="group-item">
                <div class="avatar-box">
                  <%= user_avatar_tag(group, style: :small) %>
                </div>
                <div class="infos">
                  <div class="title"><%= group_name_tag(group) %></div>
                  <div class="description"><%= group.description || group.slug %></div>
                </div>
              </div>
            <% end %>
            <div class="group-item group-item-more">
              <div class="infos">
                <div class="title">
                  <%= link_to "More ...", groups_dashboard_path %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

      <%= raw Setting.dashboard_sidebar_html %>
    </div>
  </div>
</div>
