<%= render "menu" %>

<div class="flex-wrap">
  <div class="main-wrap">
    <div class="main-content">
      <div class="dashboard-content">

        <div class="dashboard-section dashboard-docs">

          <% if @recent_docs.blank? %>
            <div class="blankslate no-data no-timeline">
              <div class="mb-3"><%= t(".You have no update Doc in recently_html") %></div>
              <div>
                <%= link_to t(".New Repository"), "/new", class: "btn btn-sm" %>
              </div>
            </div>
          <% else %>
          <div class="subhead"><h2><%= t(".Recent edited docs") %></h2></div>
          <ul class="cards-container recent-docs">
            <%= render(partial: "doc", collection: @recent_docs, as: :item) %>
            <% if @recent_docs.length >= 6 %>
              <%= render "/shared/more_button", url: docs_dashboard_path %>
            <% end %>
          </ul>
          <% end %>
        </div>

        <% if !@recent_issues.blank? %>
        <div class="dashboard-section dashboard-issues">
          <div class="subhead"><h2><%= t(".Recent actived issues") %></h2></div>
          <ul class="list-container recent-issues">
            <%= render(partial: "issue", collection: @recent_issues, as: :item) %>
          </ul>
        </div>
        <% end %>

      </div>
    </div>
  </div>

  <div class="aside-wrap">
    <% if !@groups.blank? %>
    <div class="dashboard-section dashboard-groups">
      <div class="subhead"><h2><%= t(".Your Groups") %></h2></div>
      <div class="group-list">
        <%= render(partial: "group", collection: @groups, as: :group) %>
      </div>
    </div>
    <% end %>

    <div class="dashboard-section dashboard-repositories">
      <div class="subhead"><h2><%= t(".Recent contributed repositories") %></h2></div>
      <% if @recent_repos.blank? %>
        <div class="blankslate">
          <p><%= t(".You have no update Repositories in recently_html") %></p>
          <p>
            <%= link_to t(".New Repository"), "/new", class: "btn btn-sm btn-block" %>
          </p>
        </div>
      <% else %>
      <div class="repo-list">
        <%= render(partial: "repository", collection: @recent_repos, as: :item) %>
        <% if @recent_repos.length >= 12 %>
          <%= render "/shared/more_button", url: repositories_dashboard_path %>
        <% end %>
      </div>
      <% end %>
    </div>

    <%= raw Setting.dashboard_sidebar_html %>
  </div>
</div>