<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content">

      <div class="dashboard-section">
        <div class="subhead"><h2><%= t(".Recent edited docs") %></h2></div>
        <% if @recent_docs.blank? %>
          <div class="blankslate">
            <p><%= t(".You have no update Doc in recently") %></p>
          </div>
        <% else %>
          <ul class="cards-container recent-docs">
            <% @recent_docs.each do |item| %>
              <li class="card recent-doc-item">
                <div class="path">
                  <%= user_name_tag(item.subject.repository.user) %> / <%= repository_name_tag(item.subject&.repository) %>
                </div>
                <div class="title">
                  <%= doc_title_tag(item.subject) %>
                </div>
                <div class="info">
                  <%= timeago item.updated_at %>
                </div>
                <div class="action">
                  <%= link_to icon_tag("edit"), item.subject.to_path("/edit") %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="dashboard-section">
        <div class="subhead"><h2><%= t(".Recent contributed repositories") %></h2></div>
        <% if @recent_repos.blank? %>
          <div class="blankslate">
            <p><%= t(".You have no update Repositories in recently") %></p>
          </div>
        <% else %>
        <ul class="cards-container repo-list">
          <% @recent_repos.each do |item| %>
            <li class="card repo-item">
              <div class="path">
                <%= user_name_tag(item.subject.user) %>
              </div>
              <div class="title">
                <%= repository_name_tag(item.subject) %>
              </div>
              <div class="info">
                <%= timeago item.updated_at %>
              </div>
              <div class="action">
                <%= icon_tag("add_docs") %>
              </div>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>

      <% if !@groups.blank? %>
      <div class="dashboard-section">
        <div class="subhead"><h2><%= t(".Your Groups") %></h2></div>
        <ul class="cards-container group-list">
          <% @groups.each do |group| %>
            <li class="card card-avatar group-item">
              <%= user_avatar_tag(group, style: :medium) %>
              <div class="title">
                <%= group_name_tag(group) %>
              </div>
              <div class="info">
                <%= group.description || group.slug %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="dashboard-section activities">
        <div class="sub-title"><%= t(".All activity") %></div>
        <% if @activities.blank? %>
          <div class="blankslate">
            <p><%= t(".You have no activity in recently") %></p>
          </div>
        <% else %>
          <%= render @activities %>
          <%= render "/shared/more_button", url: activities_dashboard_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>