<div class="dashboard-main">
  <%= render "menu" %>

  <div class="dashboard-content clearfix">
    <div class="content-main">
      <div class="sub-title">Recent activity</div>
      <div class="mb-5">
        <% if @recent_docs.blank? %>
          <div class="blankslate">
            <h3>No recent docs</h3>
            <p>You have no update Doc in recently.</p>
          </div>
        <% else %>
          <%= render partial: "docs", locals: { items: @recent_docs } %>
        <% end %>
      </div>

      <div class="activities">
        <div class="sub-title">All activity</div>
        <% if @activities.blank? %>
          <div class="blankslate">
            <h3>No activity</h3>
            <p>You have no activity in recently.</p>
          </div>
        <% else %>
          <%= render @activities %>
          <%= render "/shared/more_button", url: activities_dashboard_path %>
        <% end %>
      </div>
    </div>

    <div class="col-3 sub-sidebar pl-5">
      <% if !@groups.blank? %>
      <div class="sub-title">Your Groups</div>
      <div class="Box mb-3">
        <div class="Box-body">
          <div class="group-list clearfix">
            <% @groups.each do |group| %>
              <div class="group-item my-1">
                <%= user_avatar_tag(group, style: :tiny) %>
                <%= user_name_tag(group) %>
              </div>
            <% end %>
            <%= link_to "All groups...", groups_dashboard_path, class: "more" %>
          </div>
        </div>
      </div>
      <% end %>

      <%= raw Setting.dashboard_sidebar_html %>
    </div>
  </div>
</div>
