<% title_tag "Stars", "Dashboard" %>

<div class="col-12 d-table">
  <%= render "menu" %>

  <div class="col-10 d-table-cell p-5">
    <nav class="UnderlineNav mb-4">
      <div class="UnderlineNav-body">
        <%= render_list_items(type: :link, class: "UnderlineNav-item", active_class: "selected", check_parameters: true) do |item|
          item << link_to("Repositories", "/dashboard/stars", class: "UnderlineNav-item")
          item << link_to("Docs", "/dashboard/stars?tab=docs", class: "UnderlineNav-item")
        end %>
      </div>
    </nav>

    <% if params[:tab] == "docs" %>
      <%= render "action_docs" %>
      <%= paginate @docs %>
    <% else %>
      <%= render "action_repositories" %>
      <%= paginate @repositories %>
    <% end %>
  </div>
</div>
