<% title_tag "Stars", "Dashboard" %>

<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <% if action_name == "stars_docs" %>
        <div class="sub-title">Docs</div>
        <%= render "action_docs" %>
        <%= paginate @docs %>
      <% else %>
        <div class="sub-title">Repositories</div>
        <%= render "action_repositories" %>
        <%= paginate @repositories %>
      <% end %>
    </div>
  </div>
</div>
