<% title_tag "Stars", "Dashboard" %>

<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <% if action_name == "stars_docs" %>
        <div class="subhead"><h2><%= t(".Stared Docs") %></div></div>
        <%= render "action_docs" %>
        <%= paginate @docs %>
      <% else %>
        <div class="subhead"><h2><%= t(".Stared Repositories") %></h2></div>
        <%= render "action_repositories" %>
        <%= paginate @repositories %>
      <% end %>
    </div>
  </div>
</div>
</div>