<% title_tag "Stars", "Dashboard" %>

<div class="flex-wrap">
<%= render "menu" %>
<div class="main-wrap">
  <div class="main-content">
    <div class="dashboard-content clearfix">
      <% if action_name == "stars_docs" %>
        <%= render "action_docs" %>
        <%= paginate @docs %>
      <% elsif action_name == "stars_notes" %>
        <%= render "action_notes" %>
        <%= paginate @notes %>
      <% else %>
        <%= render "action_repositories" %>
        <%= paginate @repositories %>
      <% end %>
    </div>
  </div>
</div>
</div>