
<%= form_for([:admin,@group]) do |f| %>
  <%= render "/shared/error_messages", target: @group  %>

  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :slug, class: "control-label" %>
    <%= f.text_field :slug, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :members_count, class: "control-label" %>
    <%= f.text_field :members_count, class: "form-control" %>
  </div>

  <div class="form-action">
    <%= f.submit t("admin.Save"), class: "btn btn-primary mr-1" %> <%= link_to t("admin.Cancel"), admin_groups_path %>
  </div>
<% end %>
