<%= render 'base' %>

<div class="subnav">
  <nav class="subnav-links">
    <% if params[:q] %>
    <a href="<%= admin_groups_path %>" class="subnav-item">All</a>
    <% end %>
    <a href="<%= new_admin_group_path %>" class="subnav-item">New</a>
  </nav>
  <div class="subnav-search float-left">
    <form action="" method="GET">
      <input type="search" name="q" class="form-control subnav-search-input" value="<%= params[:q] %>" aria-label="Search">
      <%= icon_tag "search", class: "subnav-search-icon" %>
    </form>
  </div>
</div>

<div class="admin-admin_groups">
  <table class="table table-striped">
    <tr class="head">
      <td>Id</td>
      <td><%= t("activerecord.attributes.group.name") %></td>
      <td><%= t("activerecord.attributes.group.members_count") %></td>
      <td>Created At</td>
      <td class="opts"></td>
    </tr>
    <% @groups.each do |item| %>
    <tr class="<%= cycle("","even") %>">
      <td><%= link_to item.id, admin_group_path(item.id) %></td>
      <td>
        <div><%= link_to item.name, admin_group_path(item.id) %></div>
        <div class="mt-1 text-gray-dark"><%= item.slug %></div>
        <div class="mt-1 text-gray"><%= item.description %></div>
      </td>
      <td><%= item.members_count %></td>
      <td style="width: 200px" class="text-gray"><%= l(item.created_at) %></td>
      <td class="opts">
        <%= link_to icon_tag("pencil-alt"), edit_admin_group_path(item.id) %>
        <%= link_to icon_tag("trash-alt"), admin_group_path(item.id), method: :delete, 'data-confirm' => 'Are you sure delete this item?' %>
      </td>
    </tr>
    <% end %>
  </table>
  <%= paginate @groups %>
</div>
