<%= render "base" %>

<div class="detail">
  <div class="detail-action">
    <%= link_to icon_tag("arrow-left", label: t("admin.Back")), admin_groups_path, class: "btn" %>
  </div>

  <div class="detail-row">
    <div class="detail-label"><%= t("activerecord.attributes.group.avatar") %></div>
    <div class="detail-value"><%= image_tag @group.avatar_url, class: "avatar avatar-small" %></div>
  </div>

  <div class="detail-row">
    <div class="detail-label"><%= t("activerecord.attributes.group.slug") %></div>
    <div class="detail-value"><%= @group.slug %></div>
  </div>

  <div class="detail-row">
    <div class="detail-label"><%= t("activerecord.attributes.group.name") %></div>
    <div class="detail-value"><%= @group.name %></div>
  </div>

  <div class="detail-row">
    <div class="detail-label"><%= t("activerecord.attributes.group.description") %></div>
    <div class="detail-value"><%= @group.description %></div>
  </div>

  <div class="detail-row">
    <div class="detail-label"><%= t("activerecord.attributes.group.members_count") %></div>
    <div class="detail-value"><%= @group.members_count %></div>
  </div>

  <div class="detail-row">
    <div class="detail-label"><%= t("activerecord.attributes.group.created_at") %></div>
    <div class="detail-value"><%= l @group.created_at, format: :long %></div>
  </div>

  <div class="detail-row">
    <div class="detail-label"></div>
    <%= link_to t("admin.View"), @group.to_path, target: "_blank", class: "btn" %>
  </div>
</div>