<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t(".Your email is being changed to") %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t(".Your email is being changed to") %> <%= @resource.email %>.</p>
<% end %>
