<p>Hello <%= @resource.email %>!</p>

<p><%= t(".Someone has requested a link to change your password") %></p>

<p><%= link_to t(".Change my password"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(".If you did not request this, please ignore this email") %></p>
<p><%= t(".Your password would not change if you not click") %></p>
