<%= render 'base' %>

<div class="detail admin-edit-admin_user">
  <div class="detail-action">
    <%= link_to 'Back to list', admin_users_path, class: "btn" %>
    <%= link_to icon_tag("pencil", label: "Edit"), edit_admin_user_path(@user.id), class: "btn" %>
  </div>

    <div class="detail-row">
    <div class="detail-label">Slug:</div>
    <div class="detail-value"><%= @user.slug %></div>
  </div>
    <div class="detail-row">
    <div class="detail-label">Name:</div>
    <div class="detail-value"><%= @user.name %></div>
  </div>
    <div class="detail-row">
    <div class="detail-label">Followers count:</div>
    <div class="detail-value"><%= @user.followers_count %></div>
  </div>
  </div>