<% if activity.target && activity.target.is_a?(Repository) %>
<div class="info">
  <%= user_name_tag(activity.actor) %>
  <%= t("activities.starred") %>
  <span class="path">
    <%= user_name_tag(activity.target.user, with_icon: true) %> /
    <%= repository_name_tag(activity.target, with_icon: true) %>
  </span>
</div>
<span class="time"><%= timeago activity.created_at %></span>
<div class="detail">
  <%= render "/repositories/card", repository: activity.target %>
</div>
<% else %>
<div class="info">-</div>
<% end %>