<div class="info">
  <%= user_name_tag(activity.actor) %> <span class="text-gray"><%= t("activities.transfer") %></span> <%= repository_name_tag(activity.target) %>
  <span class="text-gray"><%= t("activities.to") %></span> <%= user_name_tag(activity.target&.user) %>
</div>
<span class="time"><%= timeago activity.created_at %></span>
