<div class="info">
  <%= user_name_tag(activity.actor) %>
  <%= t("activities.transfer") %>
  <%= repository_name_tag(activity.target) %>
  <%= t("activities.to") %>
  <%= user_name_tag(activity.target&.user) %>
</div>
<span class="time"><%= timeago activity.created_at %></span>
