<%= render layout: "shared/modal", locals: {
  title: "Delete group",
  button_text: "Delete this group",
  button_class: "btn btn-danger"
} do %>
  <div class="Box-body overflow-auto">
    <%= form_with(model: @group, url: group_settings_path(@group), method: :delete) do |form| %>
      <p>
        This action <strong>cannot</strong> be undone. This will permanently delete the <strong><%= @group.slug %> repositories, members, docs, versions and comments.
      </p>
      <div class="form-group">
        <label class="control-label">Please type in the path <strong class="text-red"><%= @group.slug %></strong> to confirm</label>
        <input type="text" name="group[delete_slug]" id="group-delete-slug" autocomplete="off" class="form-control" />
        <input type="hidden" id="group-delete-slug-confirm" value="<%= @group.slug %>" />
      </div>

      <div class="actions">
        <button type="submit" disabled class="btn btn-delete btn-danger btn-block">I understand, delete this group.</button>
      </div>
    <% end %>

    <script type="text/javascript">
      var slugInput = $("#group-delete-slug");
      var slugConfirmInput = $("#group-delete-slug-confirm");
      slugInput.on("keyup", (e) => {
        var $btn = $(".btn-delete");
        if (slugInput.val() == slugConfirmInput.val()) {
          $btn.removeAttr("disabled");
        } else {
          $btn.attr("disabled", "");
        }
      });
    </script>
  </div>
<% end %>