<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BookLab Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <script src="//unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="//unpkg.com/rails-ujs@5.2.1/lib/assets/compiled/rails-ujs.js"></script>
    <script src="//unpkg.com/turbolinks@5.2.0/dist/turbolinks.js"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="nav-header">
    <div class="navbar flex-auto">
      <a class="navbar-brand mr-2" href="/admin"><%= icon_tag("booklab", label: "Admin") %></a>

      <%= render_list_items(class: "nav-link", type: :link, active_class: "selected") do |li|
        li <<  link_to("Group", admin_groups_path, class: "nav-link")
        li <<  link_to("User", admin_users_path, class: "nav-link")
        li <<  link_to("Repository", admin_repositories_path, class: "nav-link")
        li <<  link_to("Doc", admin_docs_path, class: "nav-link")
        li <<  link_to("Comment", admin_comments_path, class: "nav-link")
      end %>
    </div>
    <div class="navbar">
      <details class="dropdown details-reset details-overlay d-inline-block">
        <summary aria-haspopup="true">
          <%= user_avatar_tag(current_user, style: "tiny", link: false) %>
          <div class="dropdown-caret"></div>
        </summary>
        <div class="dropdown-menu dropdown-menu-sw">
          <div class="dropdown-header">
            Signed in as <strong><%= current_user.slug %></strong>
          </div>
          <ul>
            <li><a class="dropdown-item" data-turbolinks="false" href="<%= root_path %>">Back to Front</a></li>
            <li class="dropdown-divider" role="separator"></li>
            <li><a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a></li>
          </ul>
        </div>
      </details>
    </div>
  </div>

  <body class="admin-body">
    <%= notice_message %>
    <div class="main-container">
      <div class="container">
        <nav class="Breadcrumb mb-3">
          <ol>
            <li class="breadcrumb-item"><%= link_to "Admin", admin_root_path %></li>
            <%= yield :breadcrumb %>
            <li class="breadcrumb-item text-small breadcrumb-item-selected"><%= action_name %></li>
          </ol>
        </nav>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
