<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BookLab" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "/layouts/head_links" %>
  </head>

  <body class="page-<%= controller_name %>">
    <%= render "/layouts/header" %>

    <%= notice_message %>
    <%= yield :subnav %>
    <div class="main-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <%= raw Setting.application_footer_html %>
      </div>
    </div>
  </body>
</html>
