<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BookLab" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "/layouts/head_links" %>
  </head>

  <body class="page-<%= controller_name %>">
    <div class="nav-header">
      <div class="navbar mr-4">
        <a class="navbar-brand" href="/"><%= icon_tag("book", label: "BookLab") %></a>
      </div>
      <div class="navbar d-lg-flex flex-justify-between flex-auto">
        <%= content_for?(:nav_search) ? yield(:nav_search) : render("/layouts/search_nav") %>
      </div>
      <div class="navbar">
        <%= render "/layouts/user_menu" %>
      </div>
    </div>

    <%= notice_message %>
    <%= yield :subnav %>
    <div class="main-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <div class="footer">
      <div class="container">
        <%= raw Setting.application_footer_html %>
      </div>
    </div>
  </body>
</html>
