<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "BookLab" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render "/layouts/head_links" %>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1005258_9mh77abmy4.css">
  </head>

  <body class="page-<%= controller_name %> d-flex flex-column">
    <%= render "/layouts/header" %>
    <%= notice_message %>
    <%= yield :subnav %>
    <div class="main-container">
      <%= yield %>
    </div>
    <div class="footer">
      <div class="container">
        <%= raw Setting.application_footer_html %>
      </div>
    </div>
  </body>
</html>
