<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "BlueDoc" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-visit-control" content="reload">

    <%= render "/layouts/head_links" %>
  </head>

  <body class="editor-body" data-turbolinks="false">
    <%= notice_message %>
    <div style="display:none">
      <%= render(partial: "/layouts/search_nav", locals: { props: { action: @nav_search_path, scope: @nav_search_scope, value: params[:q] } }) %>
    </div>
    <%= yield :subnav %>
    <div class="main-container">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
