<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Booklab - Editor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-visit-control" content="reload">

    <%= render "/layouts/head_links" %>
  </head>

  <body class="editor-body" data-turbolinks="false">
    <%= notice_message %>
    <%= yield :subnav %>
    <div class="main-container">
      <%= yield %>
    </div>
  </body>
</html>
