<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "BookLab" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "/layouts/head_links" %>
  </head>

  <body class="reader-body">
    <%= render "/layouts/header" %>
    <%= yield :subnav %>
    <div class="main-container">
      <%= notice_message %>
      <%= yield %>
    </div>
  </body>
</html>
